[2016-11-01 15:30] rodica-andronache opened #5 "Send plugin to wp.org"

[2016-11-03 10:29] rodica-andronache commented on #5
sent

[2016-11-03 10:29] #5 closed

[2017-02-26 03:06] UVLabs opened #7 "ThemeIsle Companion or Zerif Companion?"
I think the name is a bit general @rodica-andronache  are we going to put all companion plugins into this one or something?

[2017-02-26 03:09] UVLabs opened #8 "Adjust tested up to"
@rodica-andronache https://github.com/Codeinwp/themeisle-companion/blob/production/readme.txt#L5

[2017-02-26 19:26] rodica-andronache commented on #7
@UVLabs ionut wanted a generic name, I'm not exactly sure why. @ineagu ?

[2017-02-26 19:28] rodica-andronache commented on #8
@UVLabs thanks :) for small changes like this, you can send a pull request yourself if you want

[2017-02-27 09:33] ineagu commented on #7
to avoid the trademark thing, we cannot change the slug later on, we can
now change the name however if we wan.

On Sun, Feb 26, 2017 at 7:26 PM, Rodica-Elena Andronache <
notifications@github.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-02-27 22:13] UVLabs commented on #7
I see, smart

[2017-02-28 09:56] #7 closed

[2017-03-01 17:09] rodica-andronache opened #9 "Also populate the clients area"
with clients widgets at a first install

[2017-03-07 05:13] kkashyap1707 opened #11 "Our focus widgets in Zerif Lite automatically removed on installing this plugin"
Hi Zerif Team,

Our focus widgets in Zerif Lite automatically removed on installing this plugin. Please have a look at it and provide the solution ASAP.

and Footer section icon(Google Map, Mobile and Social Icons) are also missing.

Please find the attached screenshot.
![our focus widgets in zerif lite automatically removed on installing this plugin](https://cloud.githubusercontent.com/assets/471

[2017-03-07 15:35] rodica-andronache commented on #9
@abaicus can you please add here some default images ( in the theme, not in the plugin ) , like there are for the other widgets

[2017-03-07 16:14] rodica-andronache commented on #11
Hi @kkashyap1707,

Thank you for contacting us.
Do you have the plugin installed at this moment? Because I can see the Our focus widgets at this moments.
For the footer icons, can you please give me more details? Did you had the default icons that come with the theme? Have they disappeared when installing the plugin? Aren't you able to upload new icons?

Please let me know.
Regards,
Rodica

[2017-03-08 04:53] kkashyap1707 commented on #11
Hi @rodica-andronache

Thanks for your reply.
Focus widget is working after reinstalling of the plugin.

The default icons that come with the theme is not displaying.

Please find the attached screenshot for reference.

![footer logos are missing](https://cloud.githubusercontent.com/assets/4715140/23690636/48477156-03e9-11e7-874b-7a5129de37a3.png)
![footer logo are displaying on backend](https://c

[2017-03-09 16:15] #9 closed

[2017-03-09 16:16] #8 closed

[2017-03-29 13:15] rodica-andronache opened #15 "Team member widget - add profile link"
http://prntscr.com/epwdwg
Like we have in Zerif Pro

https://github.com/Codeinwp/zerif-lite/issues/340

[2017-03-29 13:37] rodica-andronache commented on #11
Hi @kkashyap1707 ,

I'm really sorry for the late reply. I somehow missed this message.

The default icons only appear if you are logged in. To be able to see them you need to actually save those options in the database. This can be done by uploading new images. If you want to use those icons, you can save them to your computer and then upload them in customize.
I know this is not very intuitive m

[2017-04-01 15:28] eitzenbe opened #16 "No support for qTranslate-X plugin in widgets"
We are running our website in "multilanguage mode" supporting many languages at www.endecocide.org
Now we wanted to relaunch (cop21.endecocide.org) based on the Zerif Lite Theme and expected that the Qtranslate plugin works out of the box as it did for all other stuff so far.

However we found out that the widgets do not support using [en:]This is english text[:] tags

Is there any chance support

[2017-04-01 15:37] eitzenbe commented on #16
my oh my, forget the issue, i had a typo

[2017-04-01 15:37] #16 closed

[2017-05-02 19:44] ineagu opened #18 "features brainstorming"
I have realised that it makes lots of sense to build a generic 'companion' plugin for all our themes for 2 reasons :

- keep things consistent between themes
- enhance user experience with a single plugin

It worth mentioning that the goal of this is to be a useful 'companion' for both external theme authors and users, few things that it can do :

- basic contact form / smtp
- basic seo ( sitemap

[2017-05-03 08:00] abaicus commented on #18
I think this is a great idea. Also I think that we should do this for our next themes. Meaning that any functionality that is not wporg compliant should be done in the companion whilst keeping it compatible with Zerif / Hestia / ShopIsle.

[2017-05-03 08:28] abaicus opened #19 "Integrate Shop Isle Companion in the plugin."
Add the features from the shop-isle-companion to this companion so we can distribute on wporg.

We should try migrating users from shop-isle-companion to this one by stopping the updates for that companion. There are multiple routes of doing this:
1. Add a notice to customizer to install ti-companion and one to remove shop-isle-companion.
2. Stop updates for shop-isle-companion and link to the the

[2017-05-03 12:05] ineagu commented on #19
can't we just ignore the  shopisle companion code once ti-comp is installed? even if the user didn't uninstall the 1st?

[2017-05-03 13:41] abaicus commented on #19
Sure we can

Sent from my iPhone

[2017-05-03 15:24] #11 closed

[2017-05-04 11:02] rodica-andronache opened #20 "Add banner/icon + new description"
to something more generic
(for example it enhances themeisle themes by adding extra functionality)

[2017-05-09 13:52] abaicus commented on #20
@rodica-andronache do we have a new description for this or should I just suggest something?

[2017-05-09 13:57] rodica-andronache commented on #20
@abaicus we don't have one. Just that suggestion "it enhances themeisle themes by adding extra functionality"

[2017-05-12 11:48] ineagu opened #24 "interesting hooks module"
@rodica-andronache https://generatepress.com/downloads/generate-hooks/ , this module would let people easily add content in the configured hooks.

[2017-05-12 15:18] ineagu commented on #18
I want to expand more on this 👍

In the first iterations this will also contain modules/layouts for various builders, based on our needs and know-how we should start creating various modules like ( big title module for e.g ).

What is amazing about those is that the approach and know-how can be applied to all buidlers and later in creating gutenberg modules and only this is a business on his own,

[2017-05-18 13:11] abaicus commented on #20
@mihneastanciu This is the task with the plugin icon and banner I was talking about. :D

[2017-05-18 13:12] abaicus commented on #20
I did this but i don't really like it.
![image](https://cloud.githubusercontent.com/assets/15010186/26203645/bb39b998-3be4-11e7-85d0-bf5da193cf99.png)

[2017-05-22 12:21] ineagu commented on #20
Here we first need a name :D, maybe can we have a short brainstorm around it?

[2017-05-26 14:53] ineagu opened #26 "name ideas"

[2017-05-26 15:38] rodica-andronache commented on #26
FuelPack
hingePack
HingeBox
KnotBox
TieBox
bridgeFuel
sapBox

[2017-06-01 18:19] ineagu commented on #26
Most of them aren't free as .com domains.
Another idea for the name is to have an actual mascot name/brandable name or :

wpboom.com
boostwp.org/net
wpenhanced.net

thoughts?

cc @selul @stefan-cotitosu @mileamadalin etc

[2017-06-01 18:33] ineagu opened #27 "Version 1.0"
Here is a quick spec for version one that ideally we can release before WCEU :

1. Add basic cart in menu option, which should work fine iwth hestia/zerif : https://pt.wordpress.org/plugins/woocommerce-menu-bar-cart/, this will later become add stuff in menu module, which will let you do enable per menu basis : cart (if woo installed), search, wpml(if wpml installed) or button.
2. Add Social Share

[2017-06-05 12:10] ineagu opened #28 "[GPL Images Module] Add GPL stock photos directly in admin"
Here is an example : https://www.dropbox.com/s/wuaenybk4wz8lx9/Screenshot%202017-06-05%2013.07.39.png?dl=0

We can pull photos from mystock.photos

[2017-06-09 11:06] abaicus opened #30 "Create front page and set it automatically."
So here if the `get_option('fresh_site') == 0`, we should:

- [x] Create a page called Front Page and set it as Front ( slug should be : hestia-front )
- [x] Check if there is an existing page with slug "blog", if yes set it as Blog index, if not create it and set it as blog index.

It should be pretty straightforward.
https://github.com/Codeinwp/hestia-pro/issues/489

[2017-06-26 09:12] #30 closed, assigned to cristian-ungureanu

[2017-07-07 08:15] selul opened #34 "add orbit fox to this repo"
@preda-bogdan can add the orbit fox code and change the textdomain in a separate branch here.

[2017-07-07 08:17] selul opened #35 "document the module creation"
@preda, we can have a document with how the modules needs to be created, what practice we need to use, what tools does the orbit fox core offers.

[2017-07-10 13:00] abaicus opened #36 "Elementor Widgets Research"
We need to start working on researching what Elementor Widgets we should do.
I've outlined some steps that we should follow:

- [x] Take a look at other plugins that have Elementor Widgets;
- [x] Decide which things are notable and what Widgets we should make;
- [x] Learn how Elementor Widgets are made by looking at the `elementor-modules` branch;
- [x] Research dynamic widgets - like Post Grid, W

[2017-07-10 13:02] abaicus opened #37 "add notifications to hestia/zerif notification system"
If our about class is present, hook a notification for people to :

Install elementor if neither beaver/elementor is installed. ( 12 hours after theme get activated )
In case beaver/elementor are installed, add a notification and inform people about our templates ( about page for now ), that will be presented in orbitfox.
cc @abaicus see with @preda-bogdan if he can help or the "themes" team can d

[2017-07-27 10:11] selul opened #41 "Rename menu item to orbit fox companion"

[2017-07-27 10:12] selul opened #42 "move orbit fox menu to tools main level menu"

[2017-07-27 10:25] selul opened #43 "validate all ajax requests using nonces"
i dont know if you we are doing or not now, but we will need to validate all ajax requests used for saving options using nonces.

[2017-07-27 10:49] selul opened #44 "add factory for info messages"
make a factory class for dismissable messages  inside orbit fox and those will be enabled just for some particular users ( hestia users, zerif users, etc )

We can build it like a module, without a component in the settings menu, maybe with the auto flag turned off ?

The scope is that we want to show some particular messages for users who are using some specific items from us.

The messages will

[2017-07-27 10:51] selul opened #45 "migrate current features"
we need to migrate the current features of themeisle companion into modules, we can name it legacy module.
Basically from what i now the current plugin adds some widgets for zerif/hestia users, so wont be too much hassle.

[2017-07-27 10:53] #35 closed, assigned to preda-bogdan

[2017-07-27 10:54] #27 closed, assigned to nobody

[2017-07-27 11:04] selul opened #46 "add module documentation to readme"

[2017-08-10 14:25] selul opened #48 "assets for plugin"
@bogdanpopa90 we need the next assets for the plugin:

 * check current plugin icon and see if you can make better.
 * wp org banner image
 * Plugin sales page image - featured image with this feature ( Sharing module, Adds themes new widgets, Adds theme new section, Reports module,  Developer friendly, Automatic updates )
 * plugin sales page  - 2 feature images ( Sharing module and Extend your f

[2017-08-11 10:02] selul commented on #48
WordPress org banner.
Features:
	Sharing module
	Reports module
	Zerif & Hestia themes enhacements
	Developer friendly
	Mobile ready
	Easily customizable
Sales Prop:

     Enhances themes with extra functionalities.

ON sales page featured image:
	Sharing module
	Reports module
	Zerif & Hestia themes enhacements
	Developer friendly
	Mobile ready
	Easily customizable
	Automatic updates

And feature

[2017-08-11 11:56] #41 closed

[2017-08-11 11:56] #42 closed

[2017-08-11 11:56] #43 closed

[2017-08-11 11:56] #44 closed

[2017-08-11 11:56] #45 closed

[2017-08-11 11:56] #46 closed

[2017-08-11 11:56] #34 closed

[2017-08-11 11:57] #15 closed

[2017-08-11 11:57] selul opened #50 "[WIP] Page Builder Modules List"
# Beaver Builder

## Basic Heading with following options:

**General:**

**Typography:**

**Advanced**

---

## Icon / Image Box:
**General:**

 **Icon**

**Typography:**

**Advanced**

[2017-08-11 11:57] selul commented on #50
migrated from old repo.

[2017-08-11 11:58] selul opened #51 "elementor beaver widgets"
@abaicus probably once we have the the multiple headers ready, we should start adding few extra elementor widgets, the most powerful and useful one for different use-cases I think is posts widget, maybe bogdan can also integrate it as a mockup before we start working on it : https://www.dropbox.com/s/4imsvjdhcwjp6lo/Screenshot%202017-07-07%2014.08.49.png?dl=0

example : https://wordpress.org/plugi

[2017-08-11 11:59] selul commented on #51
moved form old repo.

[2017-08-16 10:09] #48 closed

[2017-08-22 12:41] ineagu commented on #28
@abaicus this is something that can be done as well, I mean is quite clear and can work with rest api

[2017-08-29 08:26] dragosey opened #57 "Sharing module appears on posts, but not on pages"
The sharing module appears only on posts page http://prntscr.com/ged1qi, but not on pages: http://prntscr.com/ged27z

Also, when you hit the save button it often deliver the message that settings might not be saved.

https://secure.helpscout.net/conversation/419439113/141173/?folderId=1449945

@selul

[2017-08-30 19:58] HardeepAsrani opened #58 "[General] Scoped style issue - upon module activation CSS is not loaded async."
If the module is deactivated and you activate and go to configure it, you won't see the icons. They will only appear after a refresh as, I guess, fonts are being enqueued on page load?

[2017-09-01 08:33] HardeepAsrani opened #59 "Orbit fox messing with Jetpack screen"
Jetpack's Dashboard shrinks once you activate Orbit Fox.

Before: https://s.nimbus.everhelper.me/share/1094052/rs9qadxi7k2x1o84vuwl

After: https://s.nimbus.everhelper.me/share/1094053/fzimgn4frxk23ekk7kxy

[2017-09-01 08:35] abaicus opened #60 "[Sharing module] Priority of allowed protocols"
The priority over here should hook after any other plugins that add a filter for allowed protocols. (our handling of the filter is non destructive, while others might remove our protocols for WhatsApp and SMS)

https://github.com/Codeinwp/themeisle-companion/blob/16f8b9090cc1a5e5facae3460e8eb500085dbbe5/obfx_modules/social-sharing/init.php#L162

[2017-09-01 08:47] abaicus commented on #60
@selul I think here we should have a higher priority to hook after any other plugins that are changing the protocols, right?

https://github.com/Codeinwp/themeisle-companion/blob/16f8b9090cc1a5e5facae3460e8eb500085dbbe5/obfx_modules/social-sharing/init.php#L225-L234

[2017-09-08 12:28] Firestorm-Graphics commented on #59
+1 can confirm that too

[2017-09-08 12:40] ineagu commented on #59
we need to make sure that we don't load scripts where thye aren't needed. cc @preda-bogdan

[2017-09-08 17:11] selul commented on #59
@preda-bogdan we need to load the admin assets just on pages where are needed.

[2017-09-13 09:11] #59 closed

[2017-09-22 09:01] abaicus commented on #51
duplicate of #36

[2017-09-22 09:01] #51 closed

[2017-09-22 09:02] #50 closed

[2017-10-03 07:47] bogdanpopa90 commented on #36
I looked at the widgets of the following plugins:

1. Addon Widgets for Elementor _(ThemeIsle)_ :)
2. Addons for Elementor _(Elementor Addons - Livemesh)_
3. Elementor Addon Elements _(Webtechstreet)_
4. Elements Plus! _(CSSIgniter team)_
5. Essential Addon Elementor _(Codetic)_
6. Press Elements _(Press Elements)_
7. PT Elementor addons _(paramthemes)_
8. Void Elementor Post Grid _(Void Themes)_

[2017-10-03 10:09] bogdanpopa90 commented on #36
I have some suggestions for Elementor add-ons based on what I have seen on the previously analyzed plugins:
1. **Instagram feed (Pinterest, Flickr)**
- Option to display images in a full width grid like we did on this Belise's section: http://prntscr.com/gsmtx9

2. **Twitter feed**
- Display last x tweets;
- Options for control displaying profile pic, name etc

3. **Team members**
- Repeater
- Opt

[2017-10-04 08:08] abaicus commented on #36
All of these seem good ideas! I really like the rotating text one and the feeds seem nice (Twitter, Facebook, Instagram). Others are going to help us a lot when it comes to building templates. 👍

[2017-10-04 08:27] ineagu commented on #36
As I said, most important for me is post grid one + woocommerce

[2017-10-04 19:11] abaicus commented on #36
I think we could start by doing some of those:

### Post grid
**Options:**
- Number of posts - _number input,_
- Posts per row - _slider_,
- Posts category - _dropdown_

### Products grid
**Options:**
- Number of products - _number input_,
- Posts per row - _slider_,
- Posts category - _dropdown_

### Product categories grid
**Options:**
- Number of categories - _number input_,
- Categories per ro

[2017-10-04 21:32] ineagu commented on #36
One small mention I eould see post grid widget that can cover both posts, pages, cpt’s like products.

The difference between posta and products is that the latest have price and buy that need to be displayed, so layout can adapt a bit.

So one widget rule them all. Look at elementor pro posts widget

[2017-10-04 21:47] abaicus commented on #36
Sounds good to me! Wouldn't be that different or hard to implement either.

Sent from my iPhone

[2017-10-10 08:18] abaicus opened #71 "[Sharing module] Color of links is broken if article URL contains social network name."
https://www.johnrothra.com/technology/web-design/church-websites-google-mobilegeddon/
https://wordpress.org/support/topic/facebook-twitter-reddit-are-red-orange/#post-9572219

The boxes take their background color from google plus in the example above.

[2017-10-11 14:11] #71 closed

[2017-10-11 14:11] #60 closed

[2017-10-11 14:12] abaicus opened #74 "[Template Directory] UX Flow, Wireframing, Design, Implementation."
- [x] Find Examples.
- [x] Research what admin flow we should create.
- [x] Settle on a prototype and see if the flow works.

[2017-10-12 08:23] abaicus opened #75 "[Menu Icons Module] UX Flow, Wireframing, Design, Implementation."
I think we could have a better experience than the plugin we're currently recommending. I find it very hard to set an icon for each of the menu items. It could have a much better flow.

cc: @ineagu

[2017-10-12 08:47] ineagu commented on #75
oki

On Thu, Oct 12, 2017 at 11:23 AM, Andrei Băicuș <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-10-12 11:07] abaicus opened #76 "[Animated Text Module] Add the possibility to insert animated text."
Reference: https://github.com/Codeinwp/hestia-pro/issues/1004

[2017-10-12 11:35] abaicus commented on #74
# Importing templates
Do we want to just import them in the builder, or provide the whole experience? Set up the site and take care of everything for the user? @ineagu

## Jupiter 5 - Sets up everything completely, templates are based on VC.  (personal note - everything looks incredible and the templates work great)
Templates Page (note that they offer the PSD files and a Preview.
![image](https:/

[2017-10-12 12:25] abaicus commented on #74
# Visual Composer

In my opinion has a better UI with template importing. Can't figure for the life of me how to insert template after download.
![image](https://user-images.githubusercontent.com/15010186/31495700-4df7e332-af61-11e7-8d84-538bd2a8fdc4.png)

![image](https://user-images.githubusercontent.com/15010186/31495686-3d704e82-af61-11e7-8fef-17800d75b295.png)

[2017-10-13 10:25] ineagu commented on #74
@abaicus I would investigate as well those themes :

OceanWP
Astra

and maybe some other like : Avada etc.

We have discussed about 2 phases :

1. Page templates import, which will basically import a template in page-builder + create a page with that template and you can go and view that page. In the process a widgets plugin or orbitfox module can be activated.

2. Site demo import, which will con

[2017-10-13 10:26] ineagu commented on #74
I would look also at : https://themegrill.com/themes/suffice/

[2017-10-13 10:27] abaicus commented on #74
Thanks for the resources! I'll further research this and come up with the best solution possible.

[2017-10-13 13:15] selul opened #77 "research module creation"
@contactashish13 i would like to do document yourself how the modules works in this plugin.

Basically, each module is independent, like sub-plugins, and we will develop in the future various modules, depending what the users will need.

the documentation is here: https://github.com/Codeinwp/themeisle-companion/blob/master/docs/MODULE.md

[2017-10-15 17:42] contactashish13 commented on #77
@selul I'll need some basics to start me off on each of these sub-modules. How do I test them?

[2017-10-17 09:46] rodica-andronache opened #78 "THEMEISLE_COMPANION_VERSION in Zerif and Rhea"
https://github.com/Codeinwp/themeisle-companion/blob/265c52d7a4521b1b1cdfa168e9927ddbca326d47/obfx_modules/companion-legacy/init.php#L221

I see THEMEISLE_COMPANION_VERSION is defined only for Hestia now, but we are using it in Zerif too (and Rhea). For example here https://github.com/Codeinwp/zerif-lite/blob/production/sections/our_focus.php#L41
Should I change it in Zerif or we'll change it here

[2017-10-17 10:33] selul commented on #78
@rodica-andronache yes, if is used there too, we should add for all 3 then.

[2017-10-19 07:27] #77 closed

[2017-10-19 07:59] selul opened #82 "menu icon feature"
@contactashish13 i would like to build a module for menu icons.

The module slug will be menu-icons, will be placed in obfx_modules. The module will need to be built according to this guideline: https://github.com/Codeinwp/themeisle-companion/blob/master/docs/MODULE.md

What the module will introduce:

1) on this page, http://prntscr.com/gz9a3d in the left of the text, for each menu, will add a ic

[2017-10-19 08:00] selul commented on #75
started in #82

[2017-10-19 08:00] #75 closed

[2017-10-19 10:04] selul opened #83 "import from my stock"
@contactashish13 i would like to add a new module that will be used to fetch stock photos from mystock.photos. the module name will be mystock-import.

The module will add a new tab in the media popup as well as the featured image popup.
I know we tried to do something like this with that url2png service and we go stock on the featured tab.
I have managed to find a workaround for this, i added the

[2017-10-19 14:02] bogdanpopa90 commented on #36
I'm waiting your feedback for Post type grid module. It's not finished, everything works but without style/skins. What do you think?

@ineagu @abaicus

[2017-10-19 14:02] bogdanpopa90 commented on #36
It's merged on elementor-modules branch

[2017-10-20 09:02] bogdanpopa90 commented on #36
A further enhancement would be to add Order by Total Sales / Price Asc / Price Desc if post type is product.

[2017-10-20 10:27] ineagu commented on #36
we can start I think by thinking about some real use cases where this would
be used and see how much sense it makes :

1. hestia latest posts
2. hestia products section
3. maybe even related products/posts part
4. Use it to create a magazine/news homepage for hestia, similar to islemag

2nd point is to make sure this is the best post grid addon, better than :
https://wordpress.org/plugins/void-ele

[2017-10-20 17:35] contactashish13 commented on #82
@selul I got stuck and it seems that the code could be incomplete. Are all modules of this working? The reason I ask is because according to the code the reports module cannot (and does not) load the JS files because here https://github.com/Codeinwp/themeisle-companion/blob/master/core/app/class-orbit-fox-admin.php#L108 it only works on the orbit fox settings page. As you can see in the screenshot

[2017-10-20 18:50] selul commented on #82
yes, you are right, it the do_action call should be outside the if, but the orbit fox admin script should be on the orbit fox page only.

You can do this fix also when sending the pr.

[2017-10-21 06:15] contactashish13 commented on #82
@selul the example plugins loads the media modal. There does not exist a simple component that can add images to drop downs (neither select2 nor choice). Maybe we should create a new type of "attachment" and load the media modal too?

[2017-10-21 07:23] selul commented on #82
No, no, i know tgat they use modal, but im wondering if we add a more simpler solution, like the one ive told you.

Sent from my iPhone

[2017-10-22 06:19] contactashish13 commented on #82
@selul here are a few options:

1. http://www.marghoobsuleman.com/mywork/jcomponents/image-dropdown/samples/index.html
2. http://designwithpc.com/Plugins/ddSlick#demo

[2017-10-22 17:57] contactashish13 commented on #83
@selul what is the intent of this change? will users be able to do this on their own?

[2017-10-22 18:30] selul commented on #83
I dont understand your question ? The intent is to import images from mystock and to be able to set them as featured image.

Sent from my iPhone

[2017-10-23 05:58] contactashish13 commented on #83
@selul you said

so I was not sure if it was meant for users to fetch from their accounts or from the themeisle account

[2017-10-23 06:01] contactashish13 commented on #82
@selul let me know which option you think is best. Also, how would users add their own icons?

[2017-10-23 07:31] selul commented on #82
something like this wont work: https://farbelous.github.io/fontawesome-iconpicker/

i like the component integration -> http://prntscr.com/h0ss01

For the moment we wont provide custom icons, only fontawesome and dashicons.

what do you think ?

[2017-10-23 07:32] selul commented on #83
no, from the themeisle account only, those pictures are on mystock.photos also, but we use there too the flickr api, so i think we can directly fetch them from flickr and not from mystock.

Do you have things clear now ?

[2017-10-23 10:21] abaicus commented on #36
@bogdanpopa90

### **DO NOT USE BOOTSTRAP**
Everything should be strictly CSS using classes, not bootstrap. We don't want to include that just for the grid.
Also stick to prefixed classes, never use generic ones.
We already include a public.css file that should contain the grid alignment and everything else. Make sure you do everything there. If you use this on a theme without bootstrap, it's goin

[2017-10-23 10:44] abaicus commented on #36
Also if you want we can discuss more about this if you want so we can see what solutions we might find 👍 😸

[2017-10-23 15:11] contactashish13 commented on #82
@selul it depends on bootstrap css and js files. These files impact the WP admin UI as well. I don't think this component will work

[2017-10-24 07:19] dascalescuro opened #85 "child theme module"
Would it be helpful to have a "child theme generator" module in Orbit Fox, @ineagu ?

I think is a nice feature to have because we recommend FTP access in our [documentation to create a child theme](http://docs.themeisle.com/article/656-how-to-create-a-child-theme-for-hestia). This shouldn't be the only way.

There are some plugins that do this and it is done without FTP access.
This will solve so

[2017-10-24 07:32] ineagu commented on #85
yep. it is a. good idea as well

On Tue, Oct 24, 2017 at 8:19 AM, Claudiu Dascalescu <
notifications@github.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-10-24 11:20] abaicus commented on #74
# OceanWP

You have to install the OceanWP demo installer plugin:
https://wordpress.org/plugins/ocean-demo-import/

They have all the sample data on git:
https://github.com/oceanwp/oceanwp-sample-data

The docs contain exactly what plugins you should have installed for each demo to work properly:
http://docs.oceanwp.org/article/52-importing-the-sample-data#plugins

The demo import screen looks lik

[2017-10-24 11:37] ineagu commented on #74
Might worth looking into pixelgrade care experience as well

[2017-10-25 08:07] contactashish13 commented on #82
@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/86

I've tried to customize the bootsrap bundle but I can't seem to go beyond what I've checked in. It still impacts the admin section a bit in terms of the font and the background color.

[2017-10-25 09:01] contactashish13 commented on #83
@selul flickr requires an application for the api key and its not allowing me to create an api key using my yahoo id. can you please provide the api key?

[2017-10-25 09:14] selul commented on #83
@cristian-ungureanu can you help pls ?

Thanks !

[2017-10-25 09:16] cristian-ungureanu commented on #83
@contactashish13 try this e5316d0a32404a2eb9d4d761c9f20ef6

[2017-10-25 09:49] abaicus commented on #36
@bogdanpopa90 For the skins concepts we could go with something that resembles these two:

![image](https://user-images.githubusercontent.com/15010186/31992274-7ca00860-b982-11e7-84d5-a21f7e3bd9b6.png)
![image](https://user-images.githubusercontent.com/15010186/31992285-8caeeb0e-b982-11e7-87c2-0d50aafcc5db.png)

We could give up some of the styling. Aka just make the elements have the same structu

[2017-10-25 09:53] ineagu commented on #36
the challenge with a widget like this is that it should look good enough
for various CPTs, like products, team members, portfolio items etc

On Wed, Oct 25, 2017 at 10:49 AM, Andrei Băicuș <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-10-25 10:18] abaicus commented on #82
@contactashish13 Looks really good until now! 👍  I think we can use, as @selul suggested, this one: https://codeb.it/fonticonpicker

[2017-10-25 10:19] contactashish13 commented on #82
@abaicus I have used the component that seemed most flexible

[2017-10-25 10:26] abaicus commented on #82
@contactashish13 My mistake! Couldn't make it drop down. I think you omitted to commit some of the files and they error out with 404.

![image](https://user-images.githubusercontent.com/15010186/31994086-1fd158c2-b988-11e7-819a-887dcf7f6fa6.png)

[2017-10-25 10:26] contactashish13 commented on #83
@selul can you please mention the workflow from the user's point of view?

[2017-10-25 10:29] contactashish13 commented on #82
@abaicus oops, I forgot the vendor files :) Have pushed them in now.

[2017-10-25 10:36] selul commented on #83
@contactashish13 user will be able to import and use as media attachments pictures from that particular flickr account.

It will be an alternative method, as you add an image from my computer or from external url.

[2017-10-25 10:40] contactashish13 commented on #83
@selul I'm not sure I understand so can you please verify this flow?

1. api key will be hard coded in the module
2. every time the user opens the tab in the media modal, the flickr images will be fetched (not imported) and shown
3. the users will click on the images they want to set as featured image/insert into post

[2017-10-25 10:42] selul commented on #83
@contactashish13 yes, exactly.

One more thing, they will choose the image, click import and after  set as featured image/insert into post.

And because flickr is providing different sizes for images, i would like as an intermediate step, after clicking on import and before actually importing the image, to be able to choose the size from flickr.
 let me know if this is clear.

[2017-10-25 10:45] abaicus commented on #82
@contactashish13 Thanks! Looks really good!
A nice touch would be a search input to the iconpicker to filter the icons. Do you think that's possible?
Some bootstrap CSS should still be removed so the dashboard won't be affected by it.

[2017-10-25 13:10] contactashish13 commented on #82
@abaicus forgot about the search box. Have added it now. Also, the default icon I've chosen is a "gear" as I cannot use an empty icon. So if you choose a gear (which is auto selected), it will be as if no icon has been chosen.

Regarding the bootstrap CSS, some elements might need to be manually removed.

[2017-10-25 13:20] abaicus commented on #82
@contactashish13 Looks good! :D

There are also some z-index issues with the popover.
![image](https://user-images.githubusercontent.com/15010186/32000446-666bdc0a-b99f-11e7-981b-77f9777b17a8.png)

Is there any possibility to add a `dashicons-plus` icon as default and add a class to it so we can style the fact that there's no icon selected differently?

I think you're right about the bootstrap CSS

[2017-10-25 13:32] abaicus commented on #82
@contactashish13 I think you can remove the bootstrap.min.css alltogether. Seems to look decent enough without it. I'll further style it after the backend is done 👍

[2017-10-25 13:50] abaicus commented on #74
# Suffice

This was really weird to set up. Had to install a bunch of plugins (3 after I activated the theme, and another 2 when importing the free demo).
![image](https://user-images.githubusercontent.com/15010186/32001873-b600c8e4-b9a3-11e7-945b-8e035fae0a8d.png)

Side note (they use comic sans on one of their demos ... ew!)
![image](https://user-images.githubusercontent.com/15010186/32001959-f2

[2017-10-25 13:51] contactashish13 commented on #82
@abaicus have incorporated your suggestions.

[2017-10-25 13:54] contactashish13 commented on #82
@abaicus already done

[2017-10-25 13:57] abaicus commented on #82
@contactashish13 Are you sure? I get nothing when I pull :D

[2017-10-25 14:03] contactashish13 commented on #82
@abaicus have synced again. can you try?

[2017-10-25 14:20] ineagu commented on #74
glad to hear, however maybe they haven't created it cause is not that easy
:D

On Wed, Oct 25, 2017 at 2:51 PM, Andrei Băicuș <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-10-26 04:41] contactashish13 commented on #83
@cristian-ungureanu the key doesn't seem to be working. Can you please provide another one?

[2017-10-26 05:04] abaicus commented on #82
@contactashish13 Looks Awesome! :D Thank you!

[2017-10-26 09:03] cristian-ungureanu commented on #83
I've created a new app for this:

Key:
97d007cf8f44203a2e578841a2c0f9ac

Secret:
6099d736ecd4d95a

[2017-10-26 09:34] contactashish13 commented on #83
@cristian-ungureanu even this one does not work :(

@selul I'm using https://github.com/dan-coulter/phpflickr as the library and trying to call https://www.flickr.com/services/api/explore/flickr.people.findByUsername but none of the keys seem to be working

[2017-10-26 09:40] cristian-ungureanu commented on #83
@contactashish13 I tried that too and is not working. I think the guy announced that he won't maintain it anymore. Here's a plugin that I wrote for mystock. Maybe you can use some code from it
[wpflicker.zip](https://github.com/Codeinwp/themeisle-companion/files/1417759/wpflicker.zip)

[2017-10-26 09:41] selul commented on #83
@cristian-ungureanu can you share the implementation you did ?

Sent from my iPhone

[2017-10-26 09:45] contactashish13 commented on #83
@cristian-ungureanu I don't think its a problem of the library. Even the below returns invalid key

[code]

[2017-10-26 09:49] cristian-ungureanu commented on #83
Replace <key> with the api key

https://api.flickr.com/services/rest/?method=flickr.people.findByUsername&api_key=97d007cf8f44203a2e578841a2c0f9ac works

[2017-10-26 09:50] contactashish13 commented on #83
@cristian-ungureanu still doesn't for me

![image](https://user-images.githubusercontent.com/12953439/32046615-34e712a4-ba61-11e7-8062-bcdd15666f04.png)

[2017-10-26 09:53] selul commented on #83
@contactashish13 if i go directly to that url it seems to work ?

[2017-10-26 09:55] cristian-ungureanu commented on #83
Try this piece of code
[code]

[2017-10-26 09:55] selul commented on #83
also in postman using this:

[code]
works fine. http://prntscr.com/h27hwr

[2017-10-26 09:56] contactashish13 commented on #83
@selul very strange. Opening the URL in the browser works but curl fails even with the postman syntax

[2017-10-26 10:37] contactashish13 commented on #83
@cristian-ungureanu solved the problem. The library is fine but it needs CURLOPT_SSL_VERIFYPEER set to false or the curl request fails

[2017-10-26 10:46] cristian-ungureanu commented on #83
Cool, glad to hear that but that library is really big. I think you'll need 2 - 3 methods from it. Maybe it's a good idea to keep it clean and take from the library only what you use.

[2017-10-26 13:13] contactashish13 commented on #83
@selul I've checked in whatever I could manage to complete. Till now the media upload tab shows the images from flickr along with a dropdown with the sizes.

Here is the PR in case someone needs to work on it in my absence: https://github.com/Codeinwp/themeisle-companion/pull/87

[2017-10-30 08:44] abaicus commented on #74
# For future enhancements:

- allow parameters to be applied for dynamic demo loading, for example: **launch_demo(`theme-slug:`hestia, `accent-color:`red, `template`about_page)**

[2017-10-31 17:14] #28 closed

[2017-11-03 10:39] selul commented on #83
@contactashish13 as we talked, can you have a look over what @cristian-ungureanu https://github.com/Codeinwp/themeisle-companion/pull/90 and check if there are any issues or it can be done any improvements.

Thanks !

[2017-11-07 09:36] contactashish13 commented on #83
@selul looks good except for one issue - I can't seem to get the infinite scrolling to work.

[2017-11-07 10:17] cristian-ungureanu commented on #83
Don't know why/how. It works for me. Can you give more details @contactashish13 ?
![gif](https://user-images.githubusercontent.com/9929553/32488481-67f6ec7a-c3b5-11e7-8e4b-a52e9f84b362.gif)

[2017-11-07 15:07] selul commented on #82
@contactashish13 i have checked the current state of this module and it seems when i first add the item in the menu, there is no option to add the link, can we bind it in this case also ? After page refresh all is showing ok.

Here you have a video which outlines this.

https://drive.google.com/file/d/1Rk08ldEwu8drgNcZom4_b83oU26DbH9Q/view

Please fetch the development upstream branch and work sta

[2017-11-07 15:18] selul commented on #83
@contactashish13 yes it seems there is an issue with infinite scroll, i think because we store the last page in the transient.

i would like to to improve this with two things.
1) Add a simple loader until the images are populating the container, for the first page and the next pages also.
2) Improve the caching the response based on the current limit per page and current page. Basically the trans

[2017-11-07 15:21] selul commented on #83
@contactashish13 please work on the upstream development version

[2017-11-07 17:28] #78 closed

[2017-11-08 10:46] stefan-cotitosu opened #93 "Hestia Lite Team Section typo"
Team member in Hestia is not properly aligned because of a misspelled Bootstrap class.

How it is in 1.1.53
http://prntscr.com/h7ps8m

How it was in 1.1.52
http://prntscr.com/h7psel

[2017-11-08 11:02] contactashish13 commented on #83
@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/94

[2017-11-08 11:43] cristian-ungureanu commented on #83
@contactashish13 something is wrong. It's not working well. And you didn't add this "Add a simple loader until the images are populating the container, for the first page and the next pages also."

![gif](https://user-images.githubusercontent.com/9929553/32547349-aa1307a8-c48a-11e7-8363-f8abb3a86edb.gif)

[2017-11-08 11:51] cristian-ungureanu commented on #83
My bad, it was from the cache. Works well!

[2017-11-08 14:32] contactashish13 commented on #82
@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/95

[2017-11-08 14:45] contactashish13 commented on #83
@cristian-ungureanu here you can see the loader, it is right on top of the frame: https://drive.google.com/file/d/1Y1U6FoZspVcnDrsvuYaP-TjqXXeCOctM/view

[2017-11-08 17:51] #82 closed

[2017-11-08 17:51] #83 closed

[2017-11-08 18:01] ineagu opened #96 "when hestia or zerif is active add a module for the enhancements"
@abaicus @selul I thought that the easiest thing for users to understand how orbitfox works is to have forntpagesections stuff as a module, so :

if hestia is active add a module : hestia_enhancements and enable it by default, when disabled, users will loose those sections for frontpage.

would you find it helpful?

[2017-11-08 18:02] ineagu opened #97 "move obfx in a new tab"
@selul in the next release we can move obfx in a new menu item with template directory as sub-page + maybe a welcome page as well etc.

template directory should as well be enabled by default

[2017-11-10 07:44] abaicus commented on #36
@ineagu I suggest prefixing the elementor widgets with either `OBFX` or `Orbit Fox`. That way they're easily searchable. What do you think?

[2017-11-10 07:45] abaicus commented on #96
@ineagu I think this could be helpful just have the same module with a different name based on the active theme.

[2017-11-10 08:53] ineagu commented on #36
Obfx for now

[2017-11-10 08:53] ineagu commented on #96
Or this

[2017-11-10 12:33] selul commented on #96
i have added the changes.

[2017-11-10 12:33] #96 closed

[2017-11-10 12:36] selul opened #105 "pagination error on mystock module"
@contactashish13 there are some issues with the pagination:
https://drive.google.com/file/d/1E16fVMLferKU9Vk7nbPxNkAVRUstgGXO/view

1) Loader is not visible when we reach the end of page ( when the 2nd page loaded ) , it should be an overlay over the current listed items, to give the users the feeling that something is loading.
2) The second page is loading more elements that it should, i dont kno

[2017-11-10 12:41] selul opened #106 "improve ux on mystock module"
@contactashish13 i would like to improve the ux for this module.

For instance, when the user is on the mystock tab, the button for `Set as featured image` should turn into `Import and set as featured image` and the sidebar should no longer be present on click.

Also, we will choose from flickr to import the `large image` size when they click set as featured image and import.

When adding the imag

[2017-11-10 13:03] selul commented on #85
@ineagu @dascalescuro i dont understand here the scope, even if we create a skeleton for the child theme, they will stil need to edit the files to add the fixes they need.

[2017-11-10 13:10] selul opened #107 "improve the orbit fox dashboard"
@bogdanpopa90 i would need your on on a long run project where we need to improve the orbit fox dashboard

A raw skeleton would be like this: http://prntscr.com/h8ocz7

Aspects of this new skeleton:

1) The modules list will be on a sidebar in the right.
2) We will have a search form where we search thru modules.
3) In the middle area we will have module options, if available.

The dashboard will

[2017-11-10 13:14] dascalescuro commented on #85
@selul the scope is cutting the tickets on HS regarding the creation of child themes, even though I am not sure there are that many...

But some users are having trouble creating them even if we have several docs on this.

I agree that they still need to add fixes they need but it should be a useful module overall.

Here is an example: https://wordpress.org/plugins/child-theme-generator/ -> it was

[2017-11-10 16:00] ineagu commented on #107
@selul I don;t think this is a priority for 2 reasons:

1. We have quite a bit of big issues on hestia that we need to solve first, hopefully 1 week is enough
2. We are not sure what the main direction will be here for orbitfox, it might become mainly a template directory on top of gutenberg or just the biggest selection of gutenberg addons, it depends on how things play out, so working on it migh

[2017-11-10 16:14] selul commented on #107
@ineagu i've never said this is a priority,

i've been talking with @bogdanpopa90  to spend some time on this when he get bored of the current work/tasks.
i thought it will be a good idea to learn about vuejs too.

[2017-11-10 16:22] ineagu commented on #107
ok, I agree. We can also try on wppr on some other plugin as well.

I was confused by this : https://www.dropbox.com/s/ihs1f3t1jiw3wxx/Screenshot%202017-11-10%2016.21.24.png?dl=0 . :D

[2017-11-10 16:23] ineagu commented on #107
still generally giving more structure would help like :

1. bogdanpreda makes a presentation on vue
2. bogdanpopa works for x days to finish this
3. writes a tutorial/video at the end and further present to others who are interested.

[2017-11-10 16:24] selul commented on #107
@ineagu my bad, there is no backlog column.

[2017-11-13 07:43] contactashish13 commented on #105
@selul I've fixed the issue with the apparent duplicates. PR: https://github.com/Codeinwp/themeisle-companion/pull/110

Have assigned Rohit the CSS part and will follow up with him

[2017-11-14 08:47] cristian-ungureanu commented on #105
@contactashish13 , works grate but we shouldn't make the ajax call if it's the last page.
![gif](https://user-images.githubusercontent.com/9929553/32770666-1c3e6ae6-c929-11e7-8a60-cc63922689ba.gif)

[2017-11-14 10:49] abaicus opened #111 "Beaver Builder Widgets Research"
Take some time to research Builder Widgets. You should take a look at how others do this and redo the modules that were done for Elementor, in Beaver Builder.
I've outlined some steps that we should follow:

- [x] Take a look at other plugins that have Beaver Builder Widgets;
- [x] Learn how Beaver Builder Widgets are made;
- [x] Start Working on Widgets - mostly get acquainted to how they're made

[2017-11-14 14:26] ineagu commented on #111
don't be afraid to re-use gpl code from other tools :). also make sure they work well on beaver 2.0

[2017-11-15 08:46] contactashish13 commented on #105
@cristian-ungureanu can you please review it now?

[2017-11-15 09:14] cristian-ungureanu commented on #105
It's working great now. Thanks!

[2017-11-15 10:38] ineagu commented on #97
cc @abaicus

[2017-11-16 13:01] rodica-andronache opened #115 "Pricing widget doesn't allow price of 0"
@abaicus

[2017-11-16 13:10] rodica-andronache commented on #115
@abaicus center alignment for features doesn't seem to work either https://prnt.sc/hb85pu

[2017-11-17 09:29] abaicus opened #118 "Smaller excerpt for post grid widget [ elementor-modules ]"
Bring this down to 30 by default.

Also should be done here https://github.com/Codeinwp/elementor-addon-widgets

[2017-11-17 21:16] #115 closed

[2017-11-17 21:16] abaicus commented on #115
Fixed

[2017-11-20 10:13] #105 closed

[2017-11-20 12:07] abaicus opened #121 "Menu Icon Issues"
### When you have a lot of menu items, the menus dashboard page freezes the browser.
This is probably because of the multiple iconpickers and because they parse the icons array dinamically.

### When adding a new element to the menu, there are two add icon buttons.

![image](https://user-images.githubusercontent.com/15010186/33017739-23a4c352-cdfc-11e7-8e26-11e7d809b1b4.png)

The two buttons appea

[2017-11-23 08:48] abaicus opened #124 "Customizer search module"
Maybe we can build a JS library which we can include in themes to add a search option between customizer options. As we add more options there, the more complicated is to find a setting which you need edit.

[2017-11-23 14:13] #74 closed

[2017-11-27 08:37] abaicus opened #130 "Add free analogwp templates to template directory"

[2017-11-27 12:13] #118 closed

[2017-11-27 15:41] #97 closed

[2017-11-28 08:39] contactashish13 commented on #121
@abaicus

does this freeze on page load or when you try to select an icon?

when adding a new element, its usually added at the bottom but in the issue it seems like its being added at the top. I cannot seem to reproduce the issue; maybe it is a specific scenario?

[2017-11-28 08:44] abaicus commented on #121
@contactashish13
1. It freezes on page load, can't do anything else.
2. It seems to only happen from time to time, not always. I can't really reproduce it either at the moment.

[2017-11-28 08:47] contactashish13 commented on #121
@abaicus

can you please list down the steps to reproduce this? for me, this is what it shows after I delete a post that was added to the menu (and no JS error):

![image](https://user-images.githubusercontent.com/12953439/33310191-cd3009fe-d446-11e7-9f94-4053c88213b7.png)

[2017-11-28 09:13] abaicus commented on #121
Try adding a lot of menu items in the menu - also submenus. I'm talking about a lot more menu items.

Can't get the second js error to come up either. I don't know why.

[2017-11-28 09:20] selul commented on #121
@contactashish13 please have a look at that HS ticket that andrei assigned to you.

[2017-11-28 12:51] contactashish13 commented on #121
@selul @abaicus https://github.com/Codeinwp/themeisle-companion/pull/134 should fix these issues. Can you please test locally in case I've forgotten to test a scenario and then I can apply this on the customer's instance?

[2017-11-28 13:17] ineagu opened #135 "update readme.txt to include new modules. ( elementor etc )"
cc @abaicus

[2017-11-28 19:44] ineagu opened #136 "fatal error with hestia pro 1.15.4"
https://www.dropbox.com/s/u3jsup92c3cntee/Screenshot%202017-11-28%2019.43.10.png?dl=0

[2017-11-28 19:45] ineagu commented on #136
cc @rodica-andronache

[2017-11-28 21:48] ineagu opened #137 "add description + redo design using more native approach"
https://www.dropbox.com/s/ka6cz55wxskirrm/Screenshot%202017-11-28%2021.47.28.png?dl=0

cc @abaicus

[2017-11-28 21:51] ineagu commented on #137
What I mean by more native is bigger screenshots, search/categories + preview when click on screenshot .

btw : https://www.dropbox.com/s/17ge28hzv55co06/Screenshot%202017-11-28%2021.49.54.png?dl=0

cc @rodica-andronache @selul

[2017-11-28 21:53] ineagu commented on #130
a thing that I will look at is to see if is possible to replace some basic templates text with an elementor widget created by us for a better UX.

[2017-11-29 11:50] ineagu opened #139 "Templates list"
@abaicus @rodica-andronache not sure where is better to keep a template wishlist for this and info, so when we get time to build them, we have shop/magazine + I would love a cleaning related template, maybe just slightly modify an existing analogwp one

[2017-11-30 13:19] ineagu opened #140 "[template directory]"
similar to how elementor templater works, create a full-width template for 30 most popular themes + we should also add support for something like :

add_theme_support(full_width,"xxx.php"), so themes can specify if they already have a page builder friendly template, the advantage in doing that is that more themes would work and if users wanna get rid of our plugin, their pages won't get messed up.

[2017-11-30 13:20] ineagu opened #141 "add activation notice."
think about hestia/zerif users as well to make sure their experience is also smooth, include a nice video, explanations and let them know that we activated some modules by defualt and they can just disable them if they aren't useful

[2017-11-30 13:28] ineagu opened #142 "beaver/elementor /gutenberg form widget"
One of the most common use case for such page templates are landing pages, going through this logic  landing pages need contact forms so we would need a form widget built-in our collection.

The free version will be quite simple, would let you to add a contact form, so you can have such a template : http://movingbox.ro , would let you embed a register widget, so you can have : https://unbounce.com

[2017-12-01 12:55] contactashish13 commented on #106
@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/143

[2017-12-03 13:26] selul commented on #121
@abaicus did you manage to test it ?

[2017-12-03 13:27] selul commented on #106
@contactashish13 all is working great, one small thing, when we insert the image from add media, the text shouldnt be `Download and set as featured image`, rather `Download and insert photo`

[2017-12-03 13:56] selul commented on #142
@ineagu what the register widget will do ? Register a user into system ? What do you mean by linking fields?

Will we be offering compatibility with pirate-forms ?

Thanks !

[2017-12-03 13:56] #136 closed

[2017-12-03 14:41] ineagu commented on #142
the widget should register a user into the system, like wp-register. By linking fields I mean that you can create such a form by linking 👎

input1 -> user_name
input2->password
textarea3
submit.

An alternative would be to simply choose : normal form/ registration form/ newsletter form .

pirate forms should be a different thing, this widget can maybe just pull default infos from pirateforms if it

[2017-12-04 04:53] contactashish13 commented on #106
@selul have addressed this.

[2017-12-04 08:39] abaicus commented on #121
@contactashish13  This happens when you drag and drop any menu item on my instance. Another plus appears.

![image](https://user-images.githubusercontent.com/15010186/33543321-3aebcb30-d8df-11e7-9871-333a34ea0184.png)

[2017-12-04 09:52] contactashish13 commented on #121
@abaicus have addressed this. can you please test again?

[2017-12-04 09:55] abaicus commented on #121
![image](https://user-images.githubusercontent.com/15010186/33546536-f1224b36-d8e9-11e7-8998-ad0e2cdd85d4.png)
Still getting this when trying to move anything. Loading seems to be improved though. 👍 @contactashish13

[2017-12-04 09:56] contactashish13 commented on #121
@abaicus can you try to clear your cache and test as most of these changes are in the JS file?

[2017-12-04 10:00] abaicus commented on #121
My cache is cleared. Also happens under Safari and Firefox, which are browsers from where I've never accessed this.

![image](https://user-images.githubusercontent.com/15010186/33546767-93ac8b46-d8ea-11e7-9e26-85892ac9d9de.png)
![image](https://user-images.githubusercontent.com/15010186/33546785-9c6237ae-d8ea-11e7-81c2-c611eb23b4e1.png)

[2017-12-04 10:14] contactashish13 commented on #121
@abaicus I didn't notice the error before. I've addressed it now.

[2017-12-04 12:56] abaicus commented on #121
Seems to be working fine now! 👍

[2017-12-05 09:34] selul opened #147 "Form module"
@andreilupu let's build an Orbit Fox module for forms integration. The intent is to create 3 types of Beaver/ Elementor/ Gutenberg widgets for

- **Contact Form**
- **Newsletter Form**
- **Registration Form**

### Contact Form

Fields:
- [ ] Name
- [ ] Email
- [ ] Phone
- [ ] Message
Each of those fields will have those 2 options :
 - [ ] **Label** - textfield - the field label.
 - [ ] **Required*

[2017-12-05 09:36] selul commented on #142
i've made the specifications and assigned to andrei .

[2017-12-05 09:36] #142 closed

[2017-12-05 09:38] #121 closed

[2017-12-05 09:45] selul commented on #141
@ineagu:
 * I would suggest to use a similar layout/design as the wordpress changelog page, which is showing when we update to a new version.
 * We can show it first after update and keep it under the main menu, labeled **What's new**
 * We can do it under the sdk and enable and reuse it across all the products.

What do you think ?

[2017-12-05 09:48] selul commented on #140
We can do something like:
[code]
Using this we can later on grant other features theme support in the same array ? What do you think ?

[2017-12-05 10:06] selul commented on #135
@abaicus for readme we need to update it on git as for the screenshots we need to do it on svn, assets folder.

[2017-12-05 10:41] ineagu commented on #141
probably this can wait a bit more until we;ll have more things and decide then what's best, maybe a wizard.

For now, a notification would solve the current problems : " OrbitFox just got activated, with a bunch of module, quickly review them and keep what you need"

[2017-12-05 10:42] ineagu commented on #140
yep, something like this.

On Tue, Dec 5, 2017 at 9:48 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-12-05 10:43] ineagu commented on #141
+ on the main dashboard page we can have a welcome area that can be shown/hide as an introduction. It seems that an welcome page is not super effective based on some research I did now on a bunch of plugins

[2017-12-05 10:46] ineagu opened #148 "to saas or not to saas"
@selul @abaicus At some point we need to decide if we want to require users to get an external api key ( like akismet for e.g) in order to get access to extra modules/templates, this would allow us to communicate/debug in real time, sync templates/addons.

[2017-12-05 10:49] selul commented on #141
@ineagu do you mean a simple admin notification as we do with review and logger notices ?

[2017-12-05 10:52] selul commented on #148
@ineagu yes, i think this will be a good use case for premium templates, if we would like to have. Also, this will require to move obfx as separate site imho.

[2017-12-05 10:55] ineagu commented on #147
@selul I would recommend to check this out before :

https://www.dropbox.com/s/o5tj34h02pvo1hq/Screenshot%202017-12-05%2010.47.50.png?dl=0
https://docs.elementor.com/article/92-forms

Another really good example is squarespace, is ideal in terms of UX :

https://www.dropbox.com/s/6shrb0bo5t3nfwj/Screenshot%202017-12-05%2010.50.44.png?dl=0
https://www.dropbox.com/s/cduv2z6unr3k7bb/Screenshot%202017

[2017-12-05 10:57] ineagu commented on #141
yep

On Tue, Dec 5, 2017 at 10:49 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-12-05 11:10] selul commented on #147
@ineagu yes, i've been checking the elementor doc before, our forms will be more simple and will less options than those. I tried to incorporate only the most needed options for each type of forms.

Thanks for pointing to the squarespace example !

[2017-12-05 11:48] rohittm commented on #106
I also found another bug with mystock import is that whenever an image is downloaded and used, It creates multiple of copies of same sizes in the Media library. here's the screenshot:

![mystock](https://user-images.githubusercontent.com/3204558/33605510-28794fe8-d9e0-11e7-90e6-ce575a4b36ac.JPG)

also it makes 'n' copies, where n increases by 1 on every download and insert of image!

[2017-12-05 11:48] selul commented on #106
@contactashish13 can you try and check if you can replicate this ?

[2017-12-05 13:15] abaicus opened #149 "Remove reports module"

[2017-12-05 15:48] andreilupu commented on #124
**As a reminder**: There is this plugin https://wordpress.org/plugins/customizer-search
It not even close a thing that I would finally use, but it's a start, and it proves that it can be done.

[2017-12-06 04:11] contactashish13 commented on #106
@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/150

[2017-12-07 11:19] ineagu opened #151 "site setup/import"
@selul the plugins is now great at importing page templates but we need to find a generic solution for importing full site templates aka demos.

How this will be different :

1. collection of templates instead of template
2. can set a page as home, overriding user current settings
3. can change other theme settings including customizer
4. might require multiple plugins

so ideally it will need a b

[2017-12-07 11:42] ineagu opened #152 "theme demos, wp themes"
@selul @abaicus

With the current setup we can *almost create any kind of site with hestia + elementor, both free and pro, which means that we can virtually easily create 50 "wordpress themes/demos", here are few examples :

1. Create a simple blue hestia variation and add it on justfreethemes ( more downloads )
2. Create a magazine style hestia demo/screenshot and add it on justfree ( mo download

[2017-12-07 11:45] ineagu commented on #152
or we cannot bother would that and focus on building a really generic approach and "selling" orbitfox and market the theme as orbitfox integrated, so multiple demos + present "virtual themes" as present in orbitfox + hestia.

my main worry is how we can market this clearly for various groups of people.

[2017-12-07 11:59] ineagu opened #153 "market orbitfox"
anotherchallenge that we need to discuss is how we market obfx, considering the things it does already there are lots of different routes.

1. Should we start with it on themeisle or start migrating it to orbitfox.com ?
2. can pro version come automatically as a saas?
3. How can we tackle different audience needs?

e.g there will be people for sure wanting just the templates and pay a flat lifetim

[2017-12-07 19:15] ineagu opened #154 "[Template Library] Create a new page every time I import a template option"
@abaicus

1 setting that we need to have is : " Create a new page every time I import a template", so users can choose to just import templates in elementor without having new pages created, for existing users might be just annoying, especially considering that we don't have good full-width pages

[2017-12-10 20:07] ineagu opened #156 "Elementor auto-install"
@abaicus I would recommend that instead of asking users to install to do this ourself, so instead of asking them to click the popup will say: " in order to be able to easily edit those templates, we'll install and activate elementor for you, if you won't need to use any of the templates, you can easily uninstall it from plugins list"  and start directly the download process/loading button

[2017-12-10 21:01] abaicus commented on #156
Wouldn’t it be too pushy? I thought about it at first, but it seemed to be a bit too much.

[2017-12-10 21:03] ineagu commented on #156
not at all, I mean users requested the template imported, it wasn't an
automattic install. If you think is better we can mention required plugins
in preview description area like astra, but is not pushi at all for me.

On Sun, Dec 10, 2017 at 9:01 PM, Andrei Băicuș <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2017-12-10 21:20] abaicus commented on #156
Got it. I know how Astra lets the user know the required plugins so we can do that :thumbsup: :D 

On 10 December 2017 at 23:03:49, Ionut Neagu (notifications@github.com) wrote:

not at all, I mean users requested the template imported, it wasn't an
automattic install. If you think is better we can mention required plugins
in preview description area like astra, but is not pushi at all for me.

[2017-12-11 10:34] #106 closed

[2017-12-11 11:57] selul commented on #153
@ineagu following my #152 comment, in my opinion we can think the whole service as full site theme starter service, where the Orbit Fox plugin is the WordPress assistant that connects your WordPress site with the orbitfox.com service.

Thinking about what the end goal we can categorize what you need to build a WordPress website:

1) Page templates.
2) Custom widgets, blocks or anything related ( e

[2017-12-11 11:57] selul commented on #152
@ineagu i think we can add somekind  of granular import, where we break the full demo import into more atomic parts, where they can uncheck when importing. A checklist could look like:
* Import page designs
* Import required plugins
* Import site content

Those might not be the happiest categorization but i hope you got the point. Also we can be have a more atomic approach by breaking **Import sit

[2017-12-11 11:57] selul commented on #151
closing for #152

[2017-12-11 11:57] #151 closed

[2017-12-11 16:12] ineagu commented on #152
got a point, orbitfox being a "site demo" or wizard tool sounds interesting

[2017-12-11 20:24] ineagu commented on #137
@abaicus what I mean here is something like this : https://www.dropbox.com/s/v3ly0eeso44x7rl/Screenshot%202017-12-11%2020.24.04.png?dl=0, which mimim the theme browsing ux

[2017-12-12 09:00] #130 closed

[2017-12-12 09:02] abaicus commented on #137
I don't know if it makes sense to add categories right now as we don't have that many templates.

[2017-12-12 09:04] ineagu commented on #137
Sure, but we can still have the better layout with hover stuff, bigger images etc

[2017-12-12 09:06] abaicus commented on #137
Yes. I'm going to take care of that. Was just saying that that particular feature (search) wouldn't be necessarily useful right now.

[2017-12-19 12:52] #149 closed

[2017-12-19 12:52] #137 closed

[2017-12-19 12:53] abaicus commented on #93
@stefan-cotitosu it's not misspelled. We changed it on purpose. 👍

[2017-12-19 12:53] #93 closed

[2017-12-20 09:34] #111 closed

[2017-12-21 12:52] abaicus opened #164 "Beaver Builder Module should be hidden when Beaver Builder isn't installed."
Same as the Elementor Widgets module

cc: @cristian-ungureanu

[2017-12-22 11:43] ineagu opened #167 "migrate Elementor templates to beaver"
This is a good easy task to start working with the builders and improving your frontend.

Using beaver modules in obfx + BB lite + a free BB addons plugin if needed, like ultimate beaver etc, re-create the exact same templates that we built with elementor, pick one and give feedback on how it goes.

cc @rodica-andronache @abaicus

[2017-12-27 15:04] ineagu opened #168 "change description"
@selul @abaicus we should update this : https://www.dropbox.com/s/u80ec24f6rofose/Screenshot%202017-12-27%2015.03.59.png?dl=0

[2017-12-27 15:12] ineagu commented on #140
updated initial description, unless we add this the feature is unusable.

[2017-12-27 16:44] ineagu opened #169 "add branding to menu icons"
@selul the menu icons feature while is cool is not clear how it arrived there and what plugin takes care of that, we can easily fix this by adding a bottom bar to this window mentioning something like : Powered by OrbitFox : https://www.dropbox.com/s/st6c8pys1oxjs29/Screenshot%202017-12-27%2016.42.46.png?dl=0 .

[2017-12-27 16:51] ineagu opened #170 "template naming"
@abaicus we should aim for more specific names : https://www.dropbox.com/s/2ogoaclrggiwx11/Screenshot%202017-12-27%2016.47.46.png?dl=0, for example we can have : Mocha - Coffee/Pub Template, we wanna give people a hint regarding what those are about.

[2017-12-28 19:12] #24 closed

[2017-12-28 19:12] #135 closed

[2017-12-28 19:29] ineagu opened #171 "chart/table/review/shareable blocks/widgets"
@selul I think I pretty much got an idea about what orbitfox can be, at least in the modules part.

We will develop content blocks used for page/post building, that works with any major builder. This means:

- we should develop in such a way that those are consistent and settings aren't block specific
- we should make sure we can build them in same way across builders.
- messaging will emphasize t

[2017-12-31 12:09] ineagu opened #172 "landing page enhancements"
- [x] Write copy
- [ ] Design
- [ ] Videos

The current landing page is far away from what the plugin does right now, we should ideally aim for a format will allow us to keep adding details about extra functionality as is added.

Current main features:

OrbitFox is aiming to be a wp enhancement tool, for now, it provide users with 👍
-> menu icons module
-> sharing icons module
-> Template Library

[2018-01-03 09:41] #164 closed

[2018-01-03 13:19] selul commented on #169
sounds like a good plan.

@contactashish13 can we add a footer in that area, with `Powered by OrbitFox` text.

[2018-01-03 13:21] selul commented on #168
@ineagu what we should outline there ? The features that OrbitFox provides ?

[2018-01-03 15:17] ineagu commented on #168
we can have this done after we brainstorm right? What day works for you next week?

[2018-01-04 08:50] contactashish13 commented on #169
@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/173

[2018-01-04 08:54] selul commented on #169
nice turnaround. Well done !

[2018-01-04 08:54] #169 closed

[2018-01-05 16:34] rohittm opened #175 "Shows error when opening media library in Tabular form"
When opening **Media > Library** from Dashboard, It shows error :

Notice: Undefined property: Mystock_Import_OBFX_Module::$strings

Here's the screenshot:

![screen shot 2018-01-05 at 9 59 59 pm](https://user-images.githubusercontent.com/3204558/34618295-52e39b20-f264-11e7-8bc7-8165bec7471d.png)

@contactashish13 @selul

[2018-01-05 16:48] rohittm commented on #175
I tested the plugin with other installations and I guess there's problem with this instance only. Let me check the issue here.

[2018-01-05 16:48] #175 closed

[2018-01-08 14:21] andreilupu commented on #124
I've started to work on this issue, and I have a UI dilemma.
Should we place the search bar top? Or keep it close to the customizer controls?

Here's a mockup compare
https://projects.invisionapp.com/freehand/document/qLP3kdnne

[2018-01-08 14:37] ineagu commented on #124
From my perspective this would be very subtle integrated into customizer, like a search icon only, either in the you are customizing or the active theme section. when clikcing on the search icon we will show the search input. The module would be activated by default as well in obfx.

this issue could be proved complex from an UX perspective, I mean how we show the search results, unless we can get

[2018-01-08 15:32] andreilupu commented on #124
I understand. Well, until now I've come to these conclusions:

* I would go with the bottom position since it is a general Customizer control and not a theme specific.
* I would go with a [Select2 autocomplete drop-down](https://select2.org/searching#matching-grouped-options) except that when the user clicks a result, it would instantly focus the setting directly and apply an outline to it.
* It s

[2018-01-08 16:50] ineagu commented on #124
Then for me is a good little thing to work on and see how we can best deliver it to our users.

[2018-01-08 18:18] selul commented on #124
@andreilupu yes, the bottom search solution looks amazing for me but i don't know how this will look with the autocomplete list.
Will be more difficult to filter the customizer sections on the fly, by hiding/showing them, if they match the search query ?

[2018-01-09 07:37] andreilupu commented on #124
@selul I find that approach very difficult because the settings are split into panels/sections and it is very hard to display two settings from different panels at the same time. Also, some settings may not be loaded as HTML while searching.
It should be possible, but it would require a lot of extra time.

[2018-01-09 09:21] selul commented on #124
@andreilupu then let's keep the autocomplete list.

[2018-01-09 15:42] selul commented on #147
@andreilupu based our last call we will need to do those changes before release:

1) for newsletter form adds error label and render the form also.
2) improve fields/form settings order, based on the type of the theme.
3) Check repeatable fields for beaver.
4) Make username optional, user email as a username in case that username field is not.

[2018-01-09 16:53] ineagu commented on #153
For now, related to this topic we reached those conclusions:

1. We'll launch it on themeisle.com as a free product ( as it is now) and we'll work on improving the landing page.

2. Pro version will be released as a SaaS (no pro plugin), for a seamless experience in the meantime we should get people to authenticate/create an account. (It can probably be done in few months )

3. We can tackle diffe

[2018-01-09 17:11] ineagu commented on #168
@s2abina We are looking for a 148  characters description for the plugin, so potential users can easily get what this is about, this will show in plugins search and wp-admin/plugins.

Current one: Enhance your website with extra functionality through modules like: social media share buttons & icons, reporting, analytics(upcoming), security(u …

JetPack: The one plugin you need for stats, related p

[2018-01-09 18:17] ineagu commented on #152
Based on some more thought on that and today discussion, here is a solution that I envision:

OrbitFox stays as it is, will offer template library part, widgets and so on, while themes like Hestia will just borrow/configure the import functionality. Here is what I mean:

We'll have a Hestia Demos tab that will require obfx to work, the demos part can be incorporated into the customizer as well. Th

[2018-01-09 18:42] ineagu commented on #19
@abaicus is this hard to do? we can migrate both azera/shopsile to obfx while making shopisle about template as an elementor one.

I mean how long will take to develop?

[2018-01-09 18:43] ineagu commented on #76
build this as a elementor/beaver/gutenberg block.

[2018-01-09 18:45] abaicus commented on #19
Not really that hard. But I don't really think that we should remove the current about page template that goes with the companion.

I think this is a one-two day job to bring all in the companion-legacy module without breaking anything.

[2018-01-09 18:45] ineagu opened #177 "Builder Blocks module"
@selul as we discussed we should merge all builder modules under a single module, which is automatically loaded if the corresponding builder is present.

[2018-01-09 18:48] ineagu commented on #19
not remove the existing one, but we can create one as well in elementor

[2018-01-09 18:54] ineagu commented on #140
@selul @andreilupu this is the full-width page template issue that we talked about.

[2018-01-09 18:59] ineagu opened #178 "next non-builder module"
@selul based on our talk today we should probably start working on a non-builder popular module, from a business perspective few candidates are :

1. security (basic security practices)
2. Caching
3. Downtime monitoring
4. Google Analytics integration

[2018-01-10 09:46] selul commented on #178
@ineagu, I would go with a downtime monitoring first? A very simple version when they subscribe to the downtime monitor using their mail, from the orbit fox dashboard. What do you think?

[2018-01-10 10:24] selul commented on #177
@andreilupu related to content forms, can we do the next thing.

* Load the elementor forms right in the elementor module in obfx.
* Load the beaver forms right in the beaver module in obfx.
* Remove the current content forms module.

[2018-01-10 12:59] selul commented on #140
@andreilupu let's tackle this in current template directory module in obfx. Things that we need to have in mind:

1) Alter the current template directory module and set up a full-width page template to be used, after the Elementor template is imported.
2) Check how this plugin is doing ->  https://wordpress.org/plugins/elementor-templater/ and make sure that theme specific compatibility elements a

[2018-01-10 13:05] selul commented on #152
@ineagu sounds like a good plan, I think after we are adding the full-width templates, we are good to go here.
Do you think the full site import will be a separate module or it will be part of the template directory, like it will extend the template directory functionality, by allowing also full sites import?

[2018-01-10 13:08] ineagu commented on #152
the full-site import functionality will reside in obfx template directory,
but won't really be used by obfx for now, it will just be available for
themes to integrate with that.

On Wed, Jan 10, 2018 at 1:05 PM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-01-11 13:36] selul commented on #172
@dascalescuro @s2abina in order to use the current plugin template we need to setup some texts:
https://themeisle.com/plugins/orbit-fox-companion/

1)  http://prntscr.com/hyzobf -> Sales proposition should under the icon and the maybe the category of this plugin that brown area?
2) http://prntscr.com/hyzowc -> Why people should use Orbit fox ? Some benefits of using it maybe?
3) http://prntscr.com

[2018-01-11 14:53] dascalescuro commented on #172
@selul I can take care of the copy tomorrow
@s2abina if you want to work together on this one let me know

When is done, I will add it here to get some feedback.

[2018-01-11 14:54] selul commented on #172
@dascalescuro thanks, boss.

[2018-01-12 10:11] ineagu opened #181 "recommend obfx in all our themes"
@selul @rodica-andronache once full-width template part is done, we should make sure that we recommend obfx to all our free and premium themes, both in-theme with tgm/customizer and in demos/sales-pages

[2018-01-12 14:22] andreilupu commented on #177
this was fixed in 5fbd0e1a103bfd552f52e6d29299027751527d70

[2018-01-12 14:22] #177 closed

[2018-01-13 11:21] selul commented on #147
@andreilupu the style for content forms does not seem to be enqueued when loading the Elementor forms ( in the builder ). In the frontend, it seems to be loaded.

[2018-01-13 11:27] abaicus commented on #147
I think the style can conditionally be enqueued in the construct of the function if you're in builder preview.

We have utility functions that check for that in Hesia - e.g:

Elementor:
https://github.com/Codeinwp/hestia-pro/blob/a4e81b26aa3cfdd2074bcd7531f94137687f4bda/inc/features/feature-pagebuilder-frontpage.php#L147-L159

Beaver:
https://github.com/Codeinwp/hestia-pro/blob/a4e81b26aa3cfdd2074

[2018-01-13 13:03] andreilupu commented on #147
I've made a PR which should fix this but I need your opinion on this https://github.com/Codeinwp/themeisle-content-forms/pull/15

The style was enqueued globally but the problem was that at the AJAX level, triggering a `wp_enqueu_style` was very late since the action `wp_enqueue_scripts` was already triggered. Sadly, there isn't an action which could help us there, maybe [elementor/element/{$eleme

[2018-01-15 10:34] s2abina commented on #172
Just saw this - Git is no longer sending me notifications :(

@dascalescuro You can go for it if you want, I have other things scheduled for this week.

[2018-01-15 10:49] ineagu commented on #172
is not git fault :)) he sent them to me, make sure you configure it properly

On Mon, Jan 15, 2018 at 10:34 AM, Sabina Ionescu <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-01-15 13:09] dascalescuro commented on #172
@selul just to be sure, at this point I think we have the following modules:

-> menu icons module
-> social sharing module
-> Template Library
-> Content Modules (Beaver Build / Elementor elements)
-> Stock Photos
Soon:
-> Full-width page template module (will add copy to have it when it is done)

Not sure if we need to include this one?
-> Extra front-page sections for Hestia/Zerif

**this means

[2018-01-15 13:10] selul commented on #147
@andreilupu yes, looks ok for me

[2018-01-15 13:11] selul commented on #172
nope, we will have only those 4 for the moment: Menu icons, sharing icons, Template Library, Builder widgets as features on the frontpage.

[2018-01-15 13:23] dascalescuro commented on #172
ok, thanks!

also, @ineagu, regarding the name of the module for page builders, what should we use?

Here are some suggestions for the module in Orbit Fox:

Not sure if we want to have one module for all type of elements/widgets/blocks/modules - whatever each builder is calling them?

I think we should just use **Orbit Fox Modules** and integrate any type of elements Elementor/beaver builder/Guten

[2018-01-15 13:25] ineagu commented on #172
content blocks might sound good.

[2018-01-15 13:27] selul commented on #172
@dascalescuro for the moment i used  *Page builder widgets* for the builders related widgets and `Adds widgets to the most popular builders: Elementor or Beaver. More to come!` ( copyright @andreilupu ) for description. I think that's enough for the WordPress dashboard modules.

[2018-01-15 14:02] dascalescuro commented on #172
I understand.

Here is my take on the copy fo the 3 points @selul indicated -> [feel free to comment on the doc](https://docs.google.com/document/d/1vZ-PGBz-FndFOfOW7TFKN4bH5yeoIFNaVuaRtnl0oAA/edit?usp=sharing) if you have something to add or have other things in mind.

[2018-01-15 15:43] rodica-andronache commented on #147
Not sure if here it's the place for this, but I got this warnings on the Newsletter form https://prnt.sc/i0rp0m

[2018-01-15 15:45] selul commented on #147
i've added it in the repo for forms.

[2018-01-15 15:45] #147 closed

[2018-01-16 11:33] #57 closed

[2018-01-16 15:23] abaicus opened #186 "Dashicons font is not enqueued on front-end [Menu Icons Module]"
Even though you're able to select Dashicons as menu icons, they're not enqueued on the front end, so they're only visible to the logged in users.

cc: @contactashish13 @selul

[2018-01-17 12:21] s2abina commented on #168
Only saw this now.

@ineagu @selul how do you like this description (147 characters):

This swiss-knife plugin comes with a quality template library, menu/sharing icons modules, and newly added Elementor/BeaverBuilder page builder widgets on each release.

[2018-01-17 12:52] s2abina commented on #168
@ineagu @selul For a less technical description we could go with the one below, inspired by @dascalescuro's copy:

[2018-01-17 13:02] #156 closed

[2018-01-17 15:59] ineagu commented on #140
how new theme compatibility is added next? How this will be synced with
elementor page template plugin ?

On Wed, Jan 17, 2018 at 3:00 PM, Andrei Lupu <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-01-17 16:11] andreilupu commented on #140
Right, I still need to write a doc about it [here ](https://github.com/Codeinwp/full-width-page-templates/issues/2)

Basically, it takes a theme directory [here](https://github.com/Codeinwp/full-width-page-templates/tree/master/themes) with styles and functions and a commit to master. After that everytime, a plugin like Elementor page template(or obfx) is updated will also update the supported the

[2018-01-19 13:29] ineagu commented on #168
not convinced about either. for this iteration we can go with :

This swiss-knife plugin comes with a quality template library, menu/sharing icons modules, and newly added Elementor/BeaverBuilder page builder widgets on each release. as php description/readme description @selul

[2018-01-22 10:57] contactashish13 commented on #186
@abaicus Have fixed this. PR: https://github.com/Codeinwp/themeisle-companion/pull/190

[2018-01-22 13:31] abaicus commented on #186
@contactashish13 Thanks for the help! 👍

[2018-01-23 13:02] #168 closed

[2018-01-23 14:01] ineagu commented on #141
a note here, jetpack does this pretty well, we can do it when we have more modules : a nice welcome popup where it mention the activated feature and a CTA to activate recommended modules :

https://www.dropbox.com/s/fvdpkf7qqqysb8v/Screenshot%202018-01-23%2013.59.11.png?dl=0 , https://www.dropbox.com/s/yzemtj6jtv4u6vu/Screenshot%202018-01-23%2014.01.05.png?dl=0

[2018-01-24 17:23] #186 closed

[2018-01-24 17:24] abaicus opened #193 "Fix textdomain for composer packages on deploy."
We have to change the textdomains of composer packages - except ti sdk - to the correct ones when we deploy the plugin.

[2018-01-31 14:02] abaicus opened #199 "Customizer importer exporter module"
Customizer importer exporter module:
- Add to orbit fox companion;
- Copy - paste don’t spend much time but try removing useless parts;
- Only show when user has hestia / zerif like the legacy module;
- We should still be able to call the importer programatically;
- Make sure that this works when both OBFX and the Customizer Export Import plugins are installed and activated;

We're going to try ad

[2018-02-08 13:28] #193 closed

[2018-02-15 10:53] ineagu commented on #181
@rodica-andronache this is probably something that @stefan-cotitosu can help

[2018-02-15 10:54] #141 closed

[2018-02-15 10:54] #172 closed

[2018-02-15 10:56] #154 closed

[2018-02-15 10:56] #170 closed

[2018-02-15 11:39] ineagu commented on #178
@selul I was doing some research here and looks like the most interesting one to pursue is : Google Analytics integration. However for such modules we have a new use-case that is not clear right now, what should we do when there are already installed more powerful solution?
I will open separate issues

[2018-02-15 11:39] #178 closed

[2018-02-15 11:40] ineagu opened #203 "[New Module] Google Analytics integration"
@selul for now this should be really basic, on activation it should open a text field  inline where you can add you GA id, I would research if is better to "Authentificate with Google" instead and select the property.

[2018-02-15 11:42] selul commented on #203
and what it should do behind the scenes ? Just add the analytics script ?

[2018-02-15 11:43] ineagu opened #204 "Modules with powerful alternatives solution"
@selul here is the discussion about what should we do if a module has an powerful alternative that is installed?

I would say that from the get-go we need at least a tag/function for that were we define those competitors and the function return true if there are more powerful alternatives installed.

Later on based on UI we can decide what we do, in the current state of the plugin, if previous men

[2018-02-15 11:46] ineagu commented on #203
exactly, just this. Is still what 80% of people need.

Later on or in pro version, we can have e-commerce tracking, event tracking
and so much more. The current goal is that a 1st time wp user won't need
another complex plugin, just for that.

On Thu, Feb 15, 2018 at 11:42 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionut

[2018-02-15 11:50] selul commented on #203
got it. thanks.

[2018-02-16 18:15] ineagu opened #207 "uptime monitor email registration intent"
@selul when a user activate uptime module, we should display a popup asking : " Where should we send the notification if mysite.com goes down? " and add an input pre-filled with current user email + a. confirm button, only then send the request.

Even a safer approach would be to then send a confirmation email to that address and only when a user confirms the email address, confirm the monitor.

I

[2018-02-18 22:04] ineagu commented on #207
@selul I would also show this module as 2nd after the share one

@abaicus let's mention this on landing page/demo as well

[2018-02-19 10:02] selul commented on #207
@abaicus can you help me in adding the popup confirmation? Some thoughts that I see in order to avoid too much hassle and add the registration intent:
* add a module propriety, called confirm intent. The propriety will be an array that will hold two keys, title and description, which will be used in the popup.
* after they will see the popup, they will have one button for confirmation, which when

[2018-02-19 10:03] selul commented on #203
@abaicus can we tackle this too?

[2018-02-20 15:23] #207 closed

[2018-02-21 09:55] ineagu opened #210 "add uptime monitor to main/lower description and lp."
cc @selul @abaicus

[2018-02-27 15:39] HardeepAsrani opened #211 "[Social Sharing Module] Social Icons not showing in the admin"
If you activate Social Icons module and see the settings, the icons won't appear as the icons aren't enqueued. It will appear once you reload the page.

[2018-02-27 15:40] HardeepAsrani commented on #211
@rodica-andronache We can use Labels for modules to categorize better?

[2018-03-02 13:35] #210 closed

[2018-03-02 13:35] #203 closed

[2018-03-05 09:23] abaicus opened #216 "Focus on activated module options if they exist."
Focus on the activated module options if they're available, just like in the case of the intent modal (see uptime monitor).

When user gets back from google oauth, focus on module.

If it comes with a hash in url, use it to focus that module option.

[2018-03-06 09:38] abaicus commented on #181
@stefan-cotitosu We've released the full-width templates update for elementor-templater and the orbit fox module. You can start here. 🎉

[2018-03-06 09:38] abaicus commented on #181
@ineagu What do you have in mind here when you're saying demos / sales pages?

[2018-03-06 09:56] ineagu commented on #181
both on sales page/demo we can have section mentioning : get built-in analytics, uptime monitor and 10+ free extra page templates using our OrbitFox plugin.

[2018-03-08 12:36] #216 closed

[2018-03-08 22:48] HardeepAsrani opened #220 "[Google Analytics Module] Option to not track logged in users"
We need an option to not track logged in users, probably with checkboxes about which roles to track and not track. @rodica-andronache @abaicus

[2018-03-09 15:06] rodica-andronache opened #221 "Notice"
I got this notice in the OBFX dashboard:  Notice: Undefined index: link-id in C:\wamp\www\wordpress\wp-content\plugins\themeisle-companion\core\app\helpers\class-orbit-fox-render-helper.php on line 377

https://prnt.sc/ioxgin

https://prnt.sc/ioxgp9

[2018-03-20 12:16] stefan-cotitosu commented on #181
@ineagu I used TGM Plugin Activation class for recommending Orbit Fox in our themes.
The class was missing from most of our free themes, and now a lot of new strings were added to those themes.

Should I remove the recommendation from the free themes or we can go further this way?

[2018-03-20 12:21] ineagu commented on #181
can't we check if tgm class already exist in other plugins for e.g and load
that? probably not, but I thought asking.

I think it depends on the translation level for the product and if itwill
drop <80%

On Tue, Mar 20, 2018 at 12:16 PM, Stefan Cotitosu <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-03-20 12:22] ineagu commented on #181
there are lots of older themes where
 tgm already exist

On Tue, Mar 20, 2018 at 12:16 PM, Stefan Cotitosu <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-03-22 09:11] dascalescuro opened #226 "[new module] script manager (add tracking to website)"
This goes well with the GA tracking and Template Directory modules, I think...

Users need adding scripts like the Facebook pixel, Google tag manager, Hotjar etc etc.
The best way is to add them via a plugin.
A script manager module that can add, remove, edit and toggle your scripts might help users that create landing pages with Template Directory.

Suggested locations in the page's code where th

[2018-03-25 13:55] abaicus opened #227 "[Menu Icons] Custom navwalker overwrites others."
There is a problem with the "Menu Icon" feature, when it is enabled in Orbit Fox, the default theme menu settings for OceanWP are not present, it needs to be solved, otherwise, users would not be able to create mega menu, so if this feature is enabled, the default menu settings needs to be present.

Do you have any ideas here @contactashish13? From what I gather, we're extending `Walker_Nav_Menu_E

[2018-03-27 09:51] contactashish13 commented on #227
@abaicus I've installed OceanWP and I'm not sure which settings you are referring to. Can you please list down the steps/screenshots to reproduce this issue?

[2018-03-27 10:18] abaicus commented on #227
@contactashish13 The menu item settings for OceanWP mega menu. You can install OceanWP theme. If you disable our menu icons module, their settings become available.

![image](https://user-images.githubusercontent.com/15010186/37961543-43883e96-31c1-11e8-9e46-39fdf5a87ac4.png)

[2018-03-27 11:08] stefan-cotitosu commented on #181
Notification added to the following themes:
-Zerif
-ShopIsle
-The Motion
-Belise
-Capri
-Parallax One
-Llorix One Lite
-Azera Shop
-Zillah
-Woga
-Oblique
-BookRev
-Arkitek
-RokoPhoto
-IsleMag
-LawyeriaX
-FlyMag
-Constructzine

Pro, lite, wporg version included for each of them.

On some of them, the notification is missing because adding TGM class would affect the translation percentage.

[2018-03-28 06:03] contactashish13 commented on #227
@abaicus I don't think both can work together. It appears this is a very old problem with WP: https://core.trac.wordpress.org/ticket/27280

[2018-03-28 08:41] ineagu commented on #227
this doesn't look good :D So you see now work-around for this? I suppose we should disable the functionality for this theme?

[2018-03-28 12:55] contactashish13 commented on #227
@ineagu I suppose that's the safest way to go about it. I've made changes so that if a custom walker exists, we bail.

@selul PR: https://github.com/Codeinwp/themeisle-companion/pull/229

[2018-04-03 10:07] cristian-ungureanu opened #233 "Dismiss notice issue"
It takes you to an empty page when you click on X. The issue is dismissed after clicking back and refresh page

![gif](https://user-images.githubusercontent.com/9929553/38243391-09314e34-3740-11e8-95ca-24cc24c6cd27.gif)

[2018-04-12 18:38] #36 closed

[2018-04-15 11:00] ineagu commented on #227
@abaicus should we be maybe more specific here? https://wordpress.org/support/topic/icons-conflict-with-oceanwp-theme/. Like if activated it disables oceanwp megamenu functionality?

[2018-04-15 11:03] abaicus commented on #227
It shouldn’t disable it anymore. The icons don’t work unfortunately.

Sent from my iPhone

[2018-04-15 11:05] ineagu commented on #227
I was talking about the notice :D

[2018-04-15 11:09] abaicus commented on #227
Got it. I guess we should be more explicit.

Sent from my iPhone

[2018-04-19 08:32] selul opened #238 "v1 image module"
@andreilupu as for the first version, we should send from the orbit fox module to the image server the next details:
1) level of compress - will be a class variable for the moment.
2) width -width to resize the image ( px )
3) height - height to resize the image ( px )

For the moment we can ignore the auth, just deliver the images according to the params and replace them in the orbit fox user web

[2018-04-19 10:42] abaicus opened #239 "Zerif to _Blank [Front Page to Builder]"
Create a flow to notify users with Zerif about _Blank. After activation, programatic move the front page content to a builder template. Dinamically create the JSON and import it in the front page content.

[2018-04-27 08:43] abaicus opened #240 "Portfolio CPT Module"
Right now we recommend Jetpack in our themes. We can do this in OrbitFox with an `add_theme_support('obfx_portfolio')`.

ref: https://wordpress.org/support/topic/request-to-extend-the-plugin/

PS: Maybe we can even add some display options in the future if we plan on extending it - so it wouldn't necessarily be tied to our themes.

[2018-05-03 06:45] stefan-cotitosu commented on #19
@abaicus Can we close this?

[2018-05-03 06:46] abaicus commented on #19
Sure!

[2018-05-03 06:46] #19 closed

[2018-05-04 09:35] rodica-andronache commented on #233
+1
it depends on which page you are in the admin area. for me, it's not working from the PirateForms settings page admin.php?page=pirateforms-admin

[2018-05-10 10:47] #181 closed

[2018-05-21 09:04] #238 closed

[2018-05-21 14:59] rodica-andronache commented on #221
I got some other notices too when using Gutenberg https://prnt.sc/jkpn2w

[2018-06-07 11:55] selul opened #249 "safe updates mvp"
@ineagu the safe update module is getting some shape and i think we have now the MVP.

Some things regarding this first version:
1) It will be available in module list just for the 10% of the users, if you want to force this, you need to add this flag in the url of the dashboard page `&force_beta=yes`, i.e the access this url http://wordpress.local/wp-admin/admin.php?page=obfx_companion&force_beta

[2018-06-07 11:58] selul commented on #249
Obviously
[themeisle-companion.zip](https://github.com/Codeinwp/themeisle-companion/files/2080290/themeisle-companion.zip)
 i forgot to add the zip of the new orbitfox plugin, i have attached now 🙉

[2018-06-07 11:59] selul commented on #249
@abaicus looking forward for your feedback too.

[2018-06-11 08:59] selul opened #252 "simple notice bar module for gdpr users"
@andreilupu based on our previous talk, we can build a simple notice bar module which users can use to inform their visitors about the privacy policy.

We can name it `Notice bar policy` and do some research on what the current plugins from wporg are offering as settings.

@dascalescuro can jump in with more insights and feedback when we have the first version ready.

[2018-06-11 09:45] dascalescuro commented on #252
@andreilupu I would just look at this resources: https://oceanwp.org/extension/ocean-cookie-notice/
and follow this example.

Also, maybe there Is a way to connect the notice with the Privacy tool in WP core -> http://prntscr.com/jtkapy

[2018-06-11 10:04] ineagu commented on #249
few tips on the flow:

- [ ] Once module activated the 2nd approval would better come in a popup : https://www.dropbox.com/s/ju64knzk210az75/Screenshot%202018-06-11%2010.59.28.png?dl=0 .
- [ ] Once this is also activated instead of the standard message, option saved, let user know that if there are theme updates, we'll let him know in a minute if the update is safe. If we see that there aren't the

[2018-06-11 10:08] ineagu commented on #249
"Is very likely that the update is safe"

[2018-06-11 10:38] ineagu commented on #249
one more thing, I would add a "read more" link at the end of the description of the module : https://www.dropbox.com/s/prj3o55axkc19s1/Screenshot%202018-06-11%2011.37.14.png?dl=0, which can go to blog/docs where we explain the current status. That we create a blank instance with the theme only and demo content, which can identify 500 errors or big typography/spacing/header changes, is just an inti

[2018-06-18 19:29] andreilupu commented on #252
I've pushed a V1 for this module on the `policy-bar` branch (maybe I should trigger a PR)

There are options for the text on the bar and the label of the `View Policy` link.

I also did some research and I really think that we can make a cool PRO add-on upgrade for this feature. This should include:

- Style customizations in a Customizer section.
- We could also block some scripts from execution

[2018-06-18 19:46] ineagu commented on #252
Just to make things clear regarding the PRO route :

a) We won't have a pro plugin for orbitfox, pro version will be a SaaS, so if an addon or potential pro feature need extra php code it won't happen.

b) That's why in such cases we build individual plugins of individual extensions, to offer "classsical" pro versions as part of ti membership.

[2018-06-18 21:18] selul commented on #252
@andreilupu yes, please feel free to send a PR, i will have a look tomorrow.

[2018-06-19 07:49] selul commented on #252
@andreilupu i've added a few comments into the PR. I see also that Travis checks are failing.

a few more things:

1) Can we make the js snippet less independent of jquery ? For themes that don't use jQuery, this snippet, loading jQuery library just for this snippet but might not be ideal. Do you think we can do this just in plain JS?
2) Can we add the page selector for privacy policy page into th

[2018-06-19 07:57] andreilupu commented on #252
Yes I can turn it to a vanilla js and remove jQuery

For the second part, can we have a page selector for the privacy page with the default as the value from the `wp_page_for_privacy_policy`?

[2018-06-19 07:59] selul commented on #252
yep, but keep the syncing in both ways, if I change the option in the privacy page, the module options will sync too. Same as if we change the module option, the page will sync too.

[2018-06-19 08:36] ineagu commented on #252
if wp already take care of that, why the selector?

On Tue, Jun 19, 2018 at 8:59 AM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-06-19 08:37] selul commented on #252
in order to avoid going on two different pages, i.e in the current workflow user needs to change the notification bar settings in one place and the privacy policy page in another.

[2018-06-19 18:40] selul opened #254 "image cdn mvp"
@ineagu we have a ready to use version for the image CDN, I have setup the plugin on JFT, let me know if you see any errors.

I have attached here the plugin file if you want to play around with it.
[themeisle-companion.zip](https://github.com/Codeinwp/themeisle-companion/files/2116431/themeisle-companion.zip)

Some thoughts:

1) This is also a beta module, you can enable it by accessing https://w

[2018-06-20 10:31] ineagu commented on #254
1. is not clear that I need an account, I assumed clicking connect would be
enough. We can add a create an account button and either keep or remove the
connect one, until user start writing the key
2. This is missing a <title> attribute : https://dashboard.orbitfox.c
om/register
3. Got stuck, I didn't get the confirmation email, maybe we can remove this
step and add a captcha instead?

On Tue, Jun

[2018-06-20 10:38] ineagu opened #255 "fatal error"
@andreilupu @selul we need to make sure we have proper checks in place to avoid this :(

https://www.dropbox.com/s/47iucu2prs2ihwq/Screenshot%202018-06-20%2011.37.34.png?dl=0

[2018-06-20 10:53] ineagu commented on #254
1.After I click connect, the page is refreshed and I am at the top of the
page seeing this, is not obvious that there is any other step required :
https://www.dropbox.com/s/cisun6fknn18l2y/Screenshot%202018-06-20%2011.46.58.png?dl=0.
We can avoid refreshing the page and showing next step on the same viewport.

2.I can't see my private cdn url :
https://www.dropbox.com/s/qdpuh1pw7b0p4qv/Screenshot%

[2018-06-20 10:55] ineagu commented on #254
Not sure how the notice was added but is showing on poopy even if the user
is not logged-in, I guess is not ok :
https://www.dropbox.com/s/arun9bo73mnm6gm/Screenshot%202018-06-20%2011.53.55.png?dl=0

On Wed, Jun 20, 2018 at 11:52 AM, Ionut Neagu <hi@ionutn.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-06-20 10:58] ineagu commented on #254
seems like the loading problem is because I click allow, but I can't save
the option, that's why images aren't through the cdn

On Wed, Jun 20, 2018 at 11:54 AM, Ionut Neagu <hi@ionutn.com> wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-06-20 11:00] ineagu opened #256 "hide some modules under "see more" or "extra" tabs"
I would hide by default those modules :

Hestia enhancements
Menu Icons
Mystock

+ hide this text : https://www.dropbox.com/s/0vlg2h9d4tlava8/Screenshot%202018-06-20%2011.59.34.png?dl=0, to improve the above the fold space.

I guess we can also experiment with modules icons

cc @selul

[2018-06-20 11:07] selul commented on #254
@ineagu
1. there is no save button as the value is saved as soon as you toggle it.
2. that notice is showed if the user is logged in, you might sure that you are checking it wrong.
3. `Why log-out from OrbitFox?` - i dont have a clue what you're trying to say here.

Will be helpful if you gather your feedback into a single commend and not transform this into a chat room.

[2018-06-20 11:37] ineagu commented on #254
**1. there is no save button as the value is saved as soon as you toggle it.**
a) My point is that they aren't saved, after I refresh the page, toggle is off again
**2. that notice is showed if the user is logged in, you might checking it wrong.**
I check-in in right, I go with private browsing, no other things are listed
**3. `Why log-out from OrbitFox?` - i dont have a clue what you're trying to

[2018-06-20 11:40] selul commented on #254
Ok, thanks.

for the 3rd one, it's to clear the api key, cdn url, all the api data that we store into the wp plugin. same as reseting the module to the default state.

[2018-06-20 11:43] ineagu commented on #254
ok, then the way it looks/work is not that clear.

We should clear cdn url when user de-activate allow radio
We can clear user api key + deactivate CDN when user delete the api key
We can ask user if he wants to clear everything when he tried to deactive the module.

Log-out just inform me that I would be logged-on of something, nothing of what you said :)

[2018-06-20 11:47] abaicus commented on #249
@selul

- I think that there should be some feedback while the report is generating. Like @ineagu said, at first run we could let them know that the report is generating and also add a second approval in witch we let them know that the report will start generating if there are any updates available.

- If the report is still generating, can we let the user know rather than not showing the notice a

[2018-06-20 11:48] selul commented on #249
hai sa termini si tu cu hestia&site import sa ma ajuti cu color codes :)))

[2018-06-20 11:53] andreilupu commented on #255
@ineagu how old is the WordPress instance? OrbitFox requires at least 4.7

But I agree that it should fail gracefully and we should not load anything when the requirements are not fulfilled( aka PHP >5.3 and WP >4.7)

[2018-06-20 12:17] abaicus commented on #254
- Maybe the buttons that now are `Connect to Orbit Fox` and `Log Out from Orbit Fox` could be `Enable Orbit Fox CDN` and `Disable Orbit Fox CDN`.

- The log-out procedure or disabling of the module could add a confirm intent modal to inform the user that the CDN will be disabled.

- I think a better approach after the API key has been validated, would be to disable the API key input until the user

[2018-06-20 13:52] ineagu commented on #255
Is older I think, still we should show some notice and not break the install

[2018-06-20 13:57] selul commented on #255
normally it's very unlikely to get that error as a user of our plugin. Usually, they install the plugin from wordpress.org, directly from WordPress dashboard. If they have an older WP or PHP version, incompatible with our plugin, WordPress won't let them install the plugin.

It was happening for you because you installed it using the zip.

Although we can make some graceful bail if the environment

[2018-06-20 14:09] ineagu commented on #255
I have installed it from wp dashboard, not zip.

W.org hide the plugin only if php is lower, they let you install if your wp version doesn’t support it.

[2018-06-21 08:46] selul commented on #252
@andreilupu seems to work fine, @abaicus when you got some time you can have a look over the integration with some themes, if there anything left to do regarding the visual aspect.

[2018-06-21 18:16] selul commented on #254
@ineagu i did some changes:
1) Added two acf fields for recover/registration emails, now the emails should look a bit better.
2) Implemented your points regarding the authentication workflow. In order to see your CDN/API key you will need to logout/login from dashboard.orbitfox.com, to have them generated again.

Let me know your feedback when you manage to check it.

[themeisle-companion.zip](htt

[2018-06-21 18:17] selul commented on #249
@ineagu i did some changes:
1) Improved the module activation workflow per your feedback.
2) Improved eyepatch gallery, switching the logo for the users of obfx.
3)  there is a cron now checking each hour newest theme releases and doing the comparisions/deployments.

Let me know once that you have any feedback.

[themeisle-companion.zip](https://github.com/Codeinwp/themeisle-companion/files/212482

[2018-06-21 20:23] rodica-andronache commented on #199
@abaicus is this still to do? :D

[2018-06-21 20:24] abaicus commented on #199
I don't think so @rodica-andronache. 👍

[2018-06-21 20:24] #199 closed

[2018-06-21 20:50] ineagu commented on #249
feel free to release if is ready

On Thu, Jun 21, 2018 at 7:18 PM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-06-21 20:51] abaicus commented on #249
cc @radu-themeisle: The changes we made to the Composer modules will go live once this version is released.

[2018-06-21 21:12] ineagu commented on #249
I was looking a bit into it and I have few comments :

1. The notice shows "instantly" which can give the impression that there was a sort of a mistake, we should have a sort of analysing for 1-2 sec, just to make sure there was no error . Also showing this message in red, gives a sort of red flag.

2. I am not 100% sold on the visual comparison focus, I guess we can better go to the "Safe Updates

[2018-06-21 21:15] ineagu commented on #254
If is tested I think we can go ahead and release this

On Thu, Jun 21, 2018 at 7:16 PM, Marius Cristea <notifications@github.com>
wrote:

--
Ionut Neagu
http://themeisle.com | http://codeinwp.com | http://ionutn.com

[2018-06-22 08:15] ineagu opened #257 "visual monitoring"
@selul I think we have everything in place to offer in pro version visual monitoring every 30min for e.g on top of the uptime monitoring for that module right?

[2018-06-22 16:16] #249 closed

[2018-06-22 16:16] #252 closed

[2018-06-22 16:16] #254 closed

[2018-06-22 16:16] #227 closed

[2018-06-22 18:20] HardeepAsrani opened #259 "Privacy Modules improvements"
When there's no Privacy Policy page is set in the core, there should be a notice in the plugin's Dropdown panel about "You haven't specified...bla bla bla"

[2018-06-24 08:10] selul opened #260 "Gutenberg blocks module"
| Block  | Examples|
| ------------- | ------------- |
| Pricing Table  | -  |
| Our Services  | -  |
| Contact form  | -  |
| Spacer  | -  |
| Testimonials | -  |
| Post Grid | https://atomicblocks.com/block-party-check-out-the-new-post-grid-block/  |
| Collapsable Content| -  |
| Sharing Icons Block| -  | t| -  |
| Plugin Card  | Advanced Gutenberg Blocks  |
| Woo Product Card  | Advanced Gutenb

[2018-06-27 10:51] andreilupu commented on #260
Ok, I've formed a vision for this module and I've started to work actively on it, first on the simple blocks.

Now I'll dump some ideas here just to keep track of things:

1) The **Spacer** block falls since there is already a cool one in Gutenberg already.

2) I think that we shouldn't do the WooCommerce block since this one exists https://wordpress.org/plugins/woo-gutenberg-products-block.

3) F

[2018-06-27 11:06] ineagu commented on #260
@andreilupu @selul just a short feedback on the WooCommerce block approach, I guess you are right, if that block would get in WooCommerce plugin, then we can assume that a person interested in an e-commerce landing page would either have woo pre-installed or we would just trigger woo installation.

My idea was that we won't want to recommend/rely on separate block plugins for our further templates

[2018-06-27 11:56] stefan-cotitosu opened #262 "Hestia Very Top Bar flipped"
In Hestia Lite there is a very top bar which has a menu location and a widgets area. There is no option to choose what to be on the left and what to be on the right side of the VTB in the lite version.

By default, menu location was on the left side and the widget area on the right side.
When you upgrade Orbit Fox from 2.4.6 to 2.4.7 the items are flipped in the VTB.
The menu is moved to the right

[2018-06-27 13:38] selul commented on #260
@andreilupu thanks for the heads-up.
I agree with 1,2,3 as for 4 looks very interesting but for now, we can keep just the minimal style.

As for the icons, yes, we can tackle them in the final step, before the release.

[2018-06-29 13:14] rodica-andronache commented on #262
@cristian-ungureanu but what happened here?  :D Is this supposed to be fixed in obfx?.
In the lite version of hestia, we have the layout as menu -> widgets, and in pro we have the default value as widgets -> menu? Is this ok?

[2018-07-01 04:10] HardeepAsrani commented on #107
I'm personally really frustrated with the current Dashboard of Orbit Fox. Working with it seems not right. Also, the Raw sketch wasn't something good. Why don't we research into some existing Dashboards and see what can we make?

For example, here's how WordPress.com's Plugin dashboard looks:

![jul-01-2018 09-38-52](https://user-images.githubusercontent.com/2649903/42130953-9d3ffcac-7d12-11e8-95a

[2018-07-01 04:11] HardeepAsrani commented on #107
Github unassigned Bogdon by itself, without me even scrolling up to that part of the screen.

[2018-07-01 04:22] HardeepAsrani commented on #107
Another simple example is SiteOrigin's Widget Bundle. It's simple but the Card layout works for modules.
![screenshot-wide-eyed-oryx w6 poopy life-2018-07-01-09-52-12](https://user-images.githubusercontent.com/2649903/42130997-74d88e76-7d14-11e8-810a-3e10c3a621fe.png)

[2018-07-02 08:16] abaicus opened #266 "New features showcase."
Redo wp.org banner Include `Safe updates` & `CDN`.

Maybe edit the OrbitFox video to include more details on these two features? cc: @ineagu

[2018-07-02 12:10] Vishakha-Patel opened #267 "pagination not working on Home page"
Ticket: https://secure.helpscout.net/conversation/612085274/164552?folderId=949810

Post Type Grid widget's pagination does not work on Home page. It changes the URL but actual posts remain same.

@selul

[2018-07-02 12:19] selul commented on #267
@rodica-andronache maybe one of the boys can help.

[2018-07-02 12:57] rodica-andronache commented on #267
@contactashish13 would please take a look at this?
It also reported here https://wordpress.org/support/topic/post-grid-pagination-issue-2/

[2018-07-02 14:45] ineagu commented on #266
@selul I think is best to update people one obfx change of plans moving forward 🗡

In short :

1. Image optim+ cdn will live under a separate brand, the obfx module will be just a way to integrate "imigi" into wp.
2. Safe updates for short/medium term can stay as it is in obfx, later on we'll launch a  "safe-update & monitoring" service
3. So no dashboard & obfx pro for now.

Feel free to change t

[2018-07-03 05:31] contactashish13 commented on #267
@Vishakha-Patel @rodica-andronache what options do I need to choose (and what theme to use) to reproduce this?

[2018-07-03 12:03] #262 closed

[2018-07-03 13:12] Vishakha-Patel commented on #267
@contactashish13 You can use any theme. Try with Hestia.

Edit its Homepage with Elementor plugin. Add "Post Type Grid" widget and turn on "Pagination" option.

When you'll check this, posts on the second page won't come.

For example, see the pagination on this website - http://natoriousb.com/ from the ticket.

[2018-07-03 15:19] contactashish13 commented on #267
@rodica-andronache PR: https://github.com/Codeinwp/elementor-extra-widgets/pull/9

[2018-07-04 10:49] rodica-andronache commented on #267
@contactashish13 from what I've tested, with this change, the pagination is working on the frontpage, but when used on an internal page, is not. Could you please take a look?

[2018-07-05 17:49] contactashish13 commented on #267
@rodica-andronache that was indeed a problem. have fixed it. PR: https://github.com/Codeinwp/elementor-extra-widgets/pull/10

[2018-07-06 11:39] rodica-andronache commented on #267
@contactashish13 thanks 👍 it indeed works on all pages now. But on posts is still not working

[2018-07-06 11:58] HardeepAsrani opened #269 "Template Directory now working"
Tried with the latest OF on Poopylife as well as few reports from users. If you go to Template Directory and Import an Elementor template, it just takes you to /wp-admin/edit.php page and does nothing.

[2018-07-08 09:00] contactashish13 commented on #267
@rodica-andronache Its working for me. Can you list down the exact steps to reproduce this problem?

[2018-07-11 13:14] abaicus opened #273 "Companion Legacy deactivating with child theme activation"
I suspect there's something wrong with the checks and it doesn't properly account for child themes.

We need to see what the issue is. If it's enabled by default in parent themes, it should stay enabled on child theme activation.

https://wordpress.org/support/topic/frontpage-sections-disappeared-in-customizer/

[2018-07-11 13:15] #269 closed

[2018-07-12 14:45] rodica-andronache commented on #267
@contactashish13 just install OBFX (latest version) , create a **post** and in that post, add the post grid ( with the post type : post ) , and the navigation is not working
https://prnt.sc/k5nxhm

[2018-07-15 13:50] contactashish13 commented on #267
@rodica-andronache I tried the steps with post type post as well as a custom post type and it seems to be working fine. A post is an internal page so there is no reason for it not to work.

Can you check if custom post types work fine?

[2018-07-17 10:20] dascalescuro commented on #259
If the user has a different language, the `Agree` button is only translatable from the .pot file
I find it to be a bad experience and we should let the user add his own wording for the button: http://prntscr.com/k7ftn1

Just have the option to change the text of the button.

Thoughts, @andreilupu @selul ?

[2018-07-17 12:21] abaicus commented on #260
Hey @andreilupu,

I've tested the blocks and here are a few things that seem to not work as expected or issues:

- [ ] Font Awesome Icon Block - icon cannot be changed and size / alignment don't affect the front end in any way;
- [ ] Sharing icons could have an option to display them on one line or stacked as they are now (essentially adding a class would be good);
- [ ] Services block (beta) - do

[2018-07-17 19:06] andreilupu commented on #260
@abaicus I've fixed some issues from the list.

For the blocks with columns, I created only some experimental CSS but I will need your help to create a stable style for Services/Pricings and Posts Grid. In front-end, there is a class that is working and it provides the number of columns.

Pricing box block is still an alternative of creating columns in case we fail to create a grid by this layout.

[2018-07-18 14:15] laurentiu1themeisle opened #274 "Can't select Image in Pinterest sharing"
@rodica-andronache

rel: https://wordpress.org/support/topic/choose-picture-for-pinterest-sharing/

Can't select an image when I choose to share a post via Pinterest, it seems to pick the featured image by default and you have no choice.

[2018-07-27 15:22] rodica-andronache commented on #267
@contactashish13 I checked with a custom post type too. Still not working. Are you sure you've tested on a post, not a page?
I'm asking because I think that's the reasons is not working, because it's interfering with the posts loop

[2018-07-30 08:22] rodica-andronache commented on #267
@contactashish13 check this http://pleasant-echidna.w5.poopy.life/2018/07/30/elementor-26/
user: ash, password: ash

[2018-08-02 04:45] contactashish13 commented on #267
@rodica-andronache this instance expired. can you please share another one?

[2018-08-02 09:33] rodica-andronache commented on #267
@contactashish13 http://hilarious-markhor.w5.poopy.life/2018/08/02/elementor-1705/
user: ash,
pass: ash

[2018-08-02 11:02] contactashish13 commented on #267
@rodica-andronache I see the problem and its very strange that I cannot replicate it on my dev instance with the same version of Elementor.

[2018-08-02 11:25] rodica-andronache commented on #267
yes, it's weird it's working for you. Be sure to have also the latest version of OBFX

[2018-08-06 08:29] radu-themeisle opened #277 "Activated modules button spells "Activate""
An active module should say "activated" or "active", now it says "Activate" which can be bad for UX.
I would be best to change the text or put a "✔️" when a module is active.

http://prntscr.com/kf6tot

[2018-08-06 10:33] selul commented on #260
@HardeepAsrani as we spoke on slack can you check here the current progress with the blocks and let me know if we can do some improvements to the ui/options in order to release this module, maybe this week ?

I think the backend logic is pretty strong, however from what I have played with them, there is not much use for them in the current shape, at least from the design point of view.

If you hav

[2018-08-06 20:40] HardeepAsrani commented on #260
Sure, I'll take a look. The one I saw so far seems good. By the way @andreilupu, **lodash** is available in core now with Gutenberg, so you can just add them to dependency when enqueuing script.

[2018-08-09 02:27] HardeepAsrani opened #278 "PHP error in MyStockPhotos"
You get this error in debugging log when using Gutenberg if MSP module is on:

[code]

[2018-08-17 13:26] rodica-andronache commented on #267
ok, you can try on a different instance maybe? It's clear there is a problem :D

[2018-08-23 11:56] abaicus opened #280 "[Social sharing module] Add LINE to the sharing options."

[2018-09-15 12:26] FitzChris opened #283 "[Mobile] Cookie notification is behind the sharing icons"
From a user reported on Facebook.

can you please update the following css in your orbit fox plugin
.obfx-cookie-bar {
	z-index: 10000 !important;
}
when viewing on mobile device with sharing icons displayed at the bottom, the cookie notification is behind the sharing icons

[2018-09-21 12:36] rodica-andronache opened #284 "Console error causing problems with the Conditional Menus plugin"
http://prntscr.com/kx1nuy

Source: https://wordpress.org/support/topic/conditional-menu-problem/

[2018-09-21 14:01] dascalescuro commented on #259
We should remove the Agree buton.
I don't think we store the consent and for other languages this is not translated: http://prntscr.com/kx2vnh

[2018-09-24 22:07] HardeepAsrani opened #286 "[Downtime Notifying] Still sending emails after stopped using plugin"
A user reported he's still getting emails of downtime after he deactivated the plugin, so we should unregister when they deactivate. Also, there's no option to disable the feature as well.

[2018-09-25 15:12] rodica-andronache opened #287 "Warning when using the WordPress Database reset plugin"
Warning: Illegal string offset 'usage' in C:\wamp64\www\wordpress\wp-content\plugins\themeisle-companion\obfx_modules\image-cdn\init.php on line 79

[2018-09-25 21:44] selul commented on #286
@ineagu thanks for follow-up.

@HardeepAsrani for now if they want to disable this, they need to disable the module.
I think what we can do very effectively is to include in each email to stop the uptime check.
Will you be interested in doing this?

[2018-09-29 21:29] HardeepAsrani commented on #286
Fixed in http://github.com/Codeinwp/monitor-obfx

[2018-09-29 21:29] #286 closed

[2018-10-01 12:50] Jordz2203 opened #288 "Orbit Fox not letting me publish updates"
Hi guys, Im trying to publish an update to my website but I cannot do so with orbit fox activated. I usually deactivate it to make changes but now I need to change an orbit fox page with icons so I cannot. I use Fagri theme

[2018-10-01 12:51] Jordz2203 commented on #288
Fixed Orbit Fox and Elementor clash

[2018-10-09 10:13] HardeepAsrani opened #291 "Disable MyStockPhotos on Gutenberg"
Disable MyStockPhotos scripts and functions if the page is Gutenberg editor in the backend as it shows debugging errors, and crashes media component.

We are advertising Gutenberg Blocks in the plugin so won't be great to have some other module crashing Gutenberg. XD

We can add a condition to disable it in Gutenberg editor until it's compatible.

[2018-10-09 10:16] HardeepAsrani commented on #291
This can be used: https://github.com/WordPress/gutenberg/blob/master/gutenberg.php#L95

What do you think @abaicus?

[2018-10-09 11:02] rodica-andronache commented on #260
Tested a bit OBFX and saw this notice after editing the chart block https://prnt.sc/l3wu82.
and this was the pricing block in customizer https://prnt.sc/l3wv3k and on the site https://prnt.sc/l3wvaj

[2018-10-09 11:04] HardeepAsrani commented on #260
@rodica-andronache Can you explain the other two issues? And are Font Awesome not being loaded? Can you check in the source of page?

[2018-10-09 11:14] rodica-andronache commented on #260
for the pricing block, the problems I saw are that in customizer, that " Add text or type/ to add content " was appearing in the actual block, and on the site, the icons are not showing up even though it seems that FA is loaded. I tested with Astra, in case is something to do with this

[2018-10-09 11:15] HardeepAsrani commented on #260
@rodica-andronache That's not an issue. People can add other stuff inside it too. I'll check the font awesome issue.

The first issue is really weird as it was happening when I started to develop the block. Then it didn't happen for weeks until today.

[2018-10-09 11:19] HardeepAsrani commented on #260
@rodica-andronache Works for me. Could be possible that some plugin is loading Font Awesome 4.x, can you check?

[2018-10-09 11:37] rodica-andronache commented on #260
@HardeepAsrani for the FA issue, it seems it's because of Elementor, once I deactivated that, the icons appeared.

[2018-10-10 08:34] sab2ina opened #294 "Replace 'Sizzify' mention with 'OrbitFox'"
In the Template Directory http://prntscr.com/l4bu2r we should change 'Sizzify' to 'OrbitFox'

[2018-10-11 08:00] HardeepAsrani opened #295 "Font Awesome 5 support"
Given that we already have added Font Awesome 5 to Gutenberg Blocks, we should also add its support to Menu Icons module. I tried doing it in my free time and was successful in doing so.

It works and all, just we have to think of backward compatibility, for which there are two ways of doing it:

1. Just use Font Awesome 5, and run a migration which will replace already saved menu with the new FA

[2018-10-15 09:59] contactashish13 commented on #294
@sab2ina can you check if you are using the updated version?

![image](https://user-images.githubusercontent.com/12953439/46944168-048c3b80-d08f-11e8-8091-7c76913c83d0.png)

[2018-10-17 12:29] radu-themeisle commented on #278
+1
http://prntscr.com/l73hq2

[2018-10-17 14:51] radu-themeisle commented on #260
- [ ] integrate styling for hr (used in pricing block) and make sharing buttons full width on mobile

[2018-10-18 07:55] rodica-andronache opened #297 "Notices when using Beaver Themer"
Notice: Use of undefined constant THEMEISLE_COMPANION_VERSION - assumed 'THEMEISLE_COMPANION_VERSION' in C:\wamp64\www\wordpress\wp-content\plugins\themeisle-companion\obfx_modules\beaver-widgets\custom-fields\number-field\number_field.php on line 27

[2018-10-24 17:58] xeux opened #299 "Plugin fail at activation"
Fatal error: Class 'ThemeIsle_SDK_Feedback_Deactivate' not found in /wp-content/themes/zerif-lite/vendor/codeinwp/themeisle-sdk/class-themeisle-sdk-feedback-factory.php on line 36

[2018-11-12 08:15] SilviuDinu opened #303 "Security bug reported by an user."
ticket link -> https://secure.helpscout.net/conversation/703895490/173175?folderId=212385
### He described the following scenario:

If the Elementor plugin is also installed then the
'wp-json/templates-directory/import_elementor' endpoint allows an
unauthenticated user to import files. Due to a flaw with Elementor this
can allow for uploading arbitrary files and unless the server is
explicitly set

[2018-11-12 08:53] selul commented on #303
@abaicus what do you think ?

[2018-11-12 08:57] abaicus commented on #303
The rest route doesn't have a capability callback. I'm going to send a PR asap fixing this and release both Sizzify and OBFX. Thanks for letting us know!

[2018-11-12 08:57] selul commented on #303
⚔️

[2018-11-12 10:07] abaicus commented on #303
👍 fixed.

[2018-11-12 10:07] #303 closed

[2018-11-14 07:22] mileamadalin opened #304 "Cookie message "Agree" button"
@contactashish13  I think will be helpful if we can add a button from where the Text Agree of the cookie can be modified and wrote something like "Accept".

A button similar to "Policy Button Label" where you can edit the "View Policy" with what you want.

[2018-11-16 06:20] contactashish13 commented on #304
@mileamadalin can you explain the behavior in more detail, possibly with example screenshots?

[2018-11-19 20:46] mileamadalin commented on #304
@contactashish13 Sure. I have attached some images:

https://www.dropbox.com/s/3wtmx7e34av2cml/Screenshot%202018-11-19%2022.43.17.png?dl=0

https://www.dropbox.com/s/gbnjvl92aocrjlk/Screenshot%202018-11-19%2022.46.16.png?dl=0

[2018-11-20 06:51] contactashish13 commented on #304
@mileamadalin perfect, thanks!

PR: https://github.com/Codeinwp/themeisle-companion/pull/306

[2018-11-20 07:15] contactashish13 commented on #233
@cristian-ungureanu I'm unable to replicate it with the latest version. Is this still an issue?

[2018-11-20 08:34] contactashish13 commented on #239
@abaicus is this still required? If so, can you please mention the intent behind this?

[2018-11-20 08:36] abaicus commented on #239
@contactashish13 This has been done in a way in themes. I'm not sure if we still want to add it to OBFX too.

cc @rodica-andronache @ineagu

[2018-11-20 08:50] contactashish13 commented on #240
@abaicus can you provide more details about this, if this is still required?

[2018-11-20 09:07] contactashish13 commented on #255
@ineagu On WP 4.5/PHP 7 I installed from the wp dashboard and activated all modules but I still did not get this fatal error. Can you list down the steps for this?

[2018-11-20 09:29] contactashish13 commented on #259
@dascalescuro Can I assume #304 is a duplicate of https://github.com/Codeinwp/themeisle-companion/issues/259#issuecomment-405533995 and #306 addresses this?

@HardeepAsrani can you give more detail on https://github.com/Codeinwp/themeisle-companion/issues/259#issue-334973876?

[2018-11-20 09:30] contactashish13 commented on #260
@HardeepAsrani can this be closed now?

[2018-11-20 10:30] dascalescuro commented on #259
@contactashish13 I would assume that it is a duplicate should be fine if #306 addresses it :)
thanks!

[2018-11-20 10:37] ineagu commented on #255
I don't have the instance for now, I guess it was a much older wp version, we can close it for now if 4.5 works ok

[2018-11-20 10:42] ineagu commented on #239
I guess we are fine now.

[2018-11-20 11:01] #239 closed

[2018-11-20 11:01] #255 closed

[2018-11-20 11:07] contactashish13 commented on #277
PR: https://github.com/Codeinwp/themeisle-companion/pull/307

[2018-11-20 17:16] contactashish13 commented on #294
@sab2ina can we close this if this is no longer an issue?

[2018-11-20 21:48] HardeepAsrani commented on #259
@contactashish13 When there's no Privacy Policy page set in your WordPress, the module should notify about it. It says it'll display the default Core Privacy Policy but to me it shows nothing.

[2018-11-20 21:49] #260 closed

[2018-11-21 09:32] radu-themeisle commented on #295
@HardeepAsrani we made huge progress with adding FA5 to Hestia and we can use the second solution of using the shim of FA4 which is already in Gutenberg modules as it's the best one.
I think we should work on a solution to use FA5 from a single place in OBFX for all the modules.

[2018-11-21 10:41] #294 closed

[2018-11-21 12:37] HardeepAsrani commented on #295
@radu-themeisle Sure, we can do that. How should we progress? Should I send a PR?

[2018-11-21 12:42] radu-themeisle commented on #295
@HardeepAsrani yes 🙂

[2018-11-22 08:33] contactashish13 commented on #221
@rodica-andronache I believe this is fixed. Can you please confirm?

[2018-11-23 09:42] rodica-andronache commented on #221
yes, seems fine :)

[2018-11-23 09:42] #221 closed

[2018-11-27 11:02] sab2ina opened #310 "Change the name of "Zerif Lite" template"
In the Template Directory, one of the templates is still called Zerif Lite.
It should be changed to Zelle Lite (trademark infringement).

[2018-11-27 14:26] poonam279 opened #311 "Option to enable/disable social share module on woocommerce page"
A user suggested that it would be great if we add an option to enable or disable the social share module on woocommerce pages. Currently, we have the post or page options http://prntscr.com/lnmp01

[2018-11-28 12:23] rodica-andronache opened #312 "mystock image and gutenberg"
don't know if this is how it's supposed to work, but I found it confusing, when trying to insert an image from mystock in gutenberg , the image is not inserted right away, you have to click on Media Library twice to get the actual image
https://prnt.sc/lo1b79

[2018-11-28 23:10] cantoute opened #313 "Page builder widgets + Beaver Builder"
Hi,

hoping this is the place for Orbit Fox

When activating the plugin with the option "Page builder widgets" and using page builder lte I get this in my logs...

Hoping this could help

A module with the filename class-themeisle-content-forms-beaver-contact.php already exists! Please namespace your module filenames to ensure compatibility with Beaver Builder.
A module with the filename class-the

[2018-11-29 09:59] ineagu commented on #313
cc @cristian-ungureanu @contactashish13

[2018-12-03 13:05] radu-themeisle opened #314 "Menu icons not vertically aligned"
I used the menu icons module here https://demo.themeisle.com/neve-charity/ and the icons are not vertically aligned to the middle. Deactivating the property from the icon doesn't seem to have an effect. Instead, if you put the property on the :before of the icon, it has effect.
It seems that the baseline property would work but only if you use the -webkit-baseline-middle, which is not the best sol

[2018-12-03 14:10] contactashish13 commented on #259
@selul When there's no Privacy Policy page set in your WordPress, maybe the first option should say `Default Core Policy (Not Set)` instead of `Default Core Policy`. What do you think?

[2018-12-04 07:50] selul commented on #259
Yes, looking great from my side.

[2018-12-05 07:01] contactashish13 commented on #259
PR: https://github.com/Codeinwp/themeisle-companion/pull/315

[2018-12-07 20:59] ineagu opened #318 "updated tested up to 5"
cc @abaicus or not sure who is in charge

[2018-12-11 05:55] contactashish13 commented on #318
done :)

[2018-12-11 05:55] #318 closed

[2018-12-11 05:56] contactashish13 opened #321 "Load font awesome locally after checking if it is already not loaded"
ref https://github.com/Codeinwp/justfreethemes/issues/117

[2018-12-12 08:51] radu-themeisle opened #323 "FA5 Menu Icons"
We should implement FA5 in the Menu Icons module because if you use Hestia and a brand icon (e.g. Facebook) in the menu it will not show because it requires the "Font Awesome 5 Brands" font-family. Right now because of the v4.7 class, the brand icons are converted to Font Awesome 5 Free instead of Brands.
The tricky part is making sure that by implementing FA5 classes we don't break sites of users

[2018-12-12 09:03] mileamadalin opened #324 "Load fontawesome in all pages issue"
A customer recommended us to only load the font awesome only where is necessary

http://prntscr.com/lqjedm
http://prntscr.com/lqjem1

ticket URL: https://wordpress.org/support/topic/load-fontawesome-in-all-pages/

[2018-12-12 09:11] ineagu commented on #323
that should not be the case I guess Radu, menu icons module come with proper font awsome 4,7 right? the module should work on all themes, no matter if they are on 4,5 or no fontawesome.

If isn't working on hestia it means we did something wrong there and how we are breaking orbitfox we would break all other plugins using hestia and FA 4.7, right?

I haven't checked anything technically, but logic

[2018-12-12 09:20] ineagu commented on #323
not sure in the same way, woocommerece integration is broken or WPPR or other plugins using FA4, like our menu icons plugin.

[2018-12-12 09:32] ineagu commented on #323
or @abaicus probably can help on this, probably you got into this cause you applied FA 5 on navbar, which probably we shouldn't in the first place, but use svg for search+cart icon, in this way we can avoid for e.g loading FA on internal pages since there are no other icons, we can load on all only when user is using them in very top bar and this is active, or something like this.

dashicons are f

[2018-12-12 10:41] abaicus commented on #323
@Codeinwp/theme-dev

I think we should drop the shim and not force FA5 loading. Best thing we can do is add an option in pro, or make a simple plugin that would do this:

- Dequeue current (4.7) version;
- Enqueue new version (5);
- Filter the HTML template we're showing in the IconPicker;
- Filter the classes in the theme so they'll be displayed in fa-5 where that's the case (e.g. search icon, ca

[2018-12-12 14:02] abaicus commented on #323
@radu-themeisle @ineagu I'm going to close this as I've finished reverting everything back how it previously was.

I think maybe we should take a look at how to implement this in a small plugin or in the pro version?

[2018-12-12 14:02] #323 closed

[2018-12-12 15:12] #310 closed

[2018-12-12 15:49] radu-themeisle commented on #283
I think this issue was solved in the meatime 🙂: http://prntscr.com/lu2rrx

[2018-12-12 15:49] #283 closed

[2018-12-13 13:54] stefan-cotitosu commented on #314
@radu-themeisle I can't find a solution here.

Each theme aligns menu items and icons differently.
Either with
[code]
or
[code]

Also, each theme has a unique identifier for the primary menu and a different one for the Very Top Bar ( I thought that I can use the menu classes ).
Some of them have style for dashicons others for font-awesome icons.

From previous discussions on similar topics, I unde

[2018-12-18 12:58] rodica-andronache opened #328 "Add some new templates"
in OBFX/Sizify pages from the demos we already have.
I was thinking these:
https://demo.themeisle.com/neve-restaurant/
https://demo.themeisle.com/neve-energy-panels/

[2018-12-21 12:01] mileamadalin commented on #284
+ 1 https://wordpress.org/support/topic/conflict-with-conditional-menu/#post-11008082

[2019-01-09 08:17] radu-themeisle commented on #295
No, just @HardeepAsrani to check out cases where FA5 form Otter Blocks (integrated in OBFX) breaks icons that use FontAwesome font-family.
An example was the map-marker icon in th "Contact Us template" from Templates Directory. It didn't render the icon due to FA5 having priority and Elementor setting specifically the font-family for the icon widget.

[2019-01-11 16:47] mileamadalin opened #329 "Post Grid – Excerpts?"
We have a customer that asks for excerpt instead of the full post. I think that's a good idea.

"Is it possible to add an option to use the first xxx words of the excerpt rather than the full post?"

Ticket link: https://wordpress.org/support/topic/post-grid-excerpts/

[2019-01-22 13:36] rodica-andronache opened #330 "Post Grid - image resizing issues"
https://wordpress.org/support/topic/blog-images-on-homepage-not-displaying-properly-on-page-load/
In some cases, it seems that the images get reloaded at a different width, after refreshing the page.
From what I've seen is caused by this code:

https://github.com/Codeinwp/themeisle-companion/blob/31ff2a2c33f2b486d34e32c6ce06cbd388be4337/obfx_modules/elementor-widgets/js/obfx-grid.js

[2019-01-25 08:23] abaicus opened #331 "Enable Gutenberg Blocks Module by default"

[2019-01-25 08:41] selul commented on #331
@abaicus one more thing that we can add here for whoever will tackle this:

- [ ] if otter and obfx are active, disable obfx module and load only from otter.
- [ ] remove Gutenberg block module from the list if otter is active.

[2019-02-01 17:14] #331 closed

[2019-02-01 17:57] ineagu opened #334 "page builder full width is broken"
https://www.dropbox.com/s/v59oykuvndd46kb/Screenshot%202019-02-01%2017.56.22.png?dl=0

cc @selul @contactashish13 I see this for obfx page builder full width on wp 5.0.3 and Gutenberg with twentynineteen, when I try to set this template to a page, the page goes blank.

[2019-02-02 13:44] selul commented on #334
@ineagu i think this is the right behavior 🤔 I've tried to wp4.9.9 using the classic editor and twenty eighteen theme and was doing the same.

@abaicus what do you think?

[2019-02-03 16:51] ineagu commented on #334
1st. In my screenshot you can see those weird characters in the name, I don't think is ok
2nd. If is broken on 4.9.9 with classic, I don't think is normal ;)), I mean not sure what you got, but I got a completely white screen, like sort of fatal error when viewing.

[2019-02-03 18:08] cristian-ungureanu commented on #334
@ineagu harr characters are from an arrow in the name of the template. I
think gutenberg is not decoding character codes. In 4.9 it displays " -»
Page Builder Full Width". And I think that template is not full width but
blank, the name is misleading, is the one where we don't render header and
footer. There are cases when users are asking how to remove the menu on
their page built with Elementor s

[2019-02-03 19:52] selul commented on #334
1st yes, i get that char issue, i was talking about 2. Indeed i get the same thing as you on 4.9.9, the wsod.

[2019-02-04 15:53] ineagu commented on #324
there seems to be some FA issues indeed : https://wordpress.org/support/topic/fa-awesome-icons/

cc @contactashish13

[2019-02-05 00:23] web1o1 opened #338 "Form module ~required field issues"
Hi there.. just found this issue..
while editing "Contact Form" within elementor..

if the " Message field" is deleted..or the "Required" section is set to 'NO',..  the form, once published will spit out a 'Missing message' error and stop the form from being sent.
.. anyway to configure straight from the Page Builder?
curious

[2019-02-06 15:30] mileamadalin opened #339 "Contact form issue"
@selul @contactashish13 We have an issue here with the contact form from the OrbitFox page https://orbitfox.com/contact/

I have sent the message with success:
![screenshot 2019-02-06 at 17 21 11](https://user-images.githubusercontent.com/6906834/52351556-b337fb80-2a33-11e9-96f1-512686eb2d33.png)

we received the message on HS, I replied and I don't receive the message in my email because we're tr

[2019-02-12 18:40] ineagu opened #340 "recommended products tab"
cc @selul

[2019-02-25 05:28] contactashish13 commented on #324
@mileamadalin I can't seem to reproduce this. I have orbit fox and hestia installed and I have enabled menu icons in orbit fox and I can still see the icons in the menu.

![image](https://user-images.githubusercontent.com/12953439/53316031-38ecef80-38ec-11e9-87e9-f556e1c034a1.png)

[2019-02-25 06:52] mileamadalin commented on #324
@contactashish13 For me as well is working with WordPress 5.1, Hestia Version: 2.2.1 and Orbit Fox Version 2.7.5

![screenshot 2019-02-25 at 08 52 17](https://user-images.githubusercontent.com/6906834/53319250-b576d280-38da-11e9-8622-f827f433ed91.png)

[2019-02-27 16:18] rodica-andronache opened #341 "Importing Mystock images not working well"
https://prnt.sc/mqxjzr
Trying to import a mystock photo as featured image for an article works only for the first images loaded. Trying to import an older photo doesn't do anything.

Plus, when the image is inserted is doesn't get importer just once, but there are more copies of it. Not sure if this is how it's supposed to work

[2019-02-28 12:12] SilviuDinu opened #342 "Conflict notice not displaying correctly"
We're displaying a notice when you have both OBFX ( With the Menu icons module activated ) and Menu Icons ( https://wordpress.org/plugins/menu-icons/ ) because they do the same thing.

The notice is -> https://prnt.sc/mra2ri but it looks like it's kind of incomplete as it doesn't specify the plugin it's conflicting with.

Similar in this case - https://prnt.sc/mraixs

[2019-03-05 09:14] contactashish13 commented on #339
@mileamadalin I think this is related to https://github.com/Codeinwp/themeisle-content-forms as that creates the contact form. It looks like this is a problem with HS as the code correctly adds a **reply-to** header which HS removes.

One way to test this and to ascertain that the problem is with HS is to add another contact form widget and change its **send-to** to a gmail ID. Once you receive th

[2019-03-07 12:31] #314 closed

[2019-03-20 08:49] #324 closed

[2019-03-20 09:07] mileamadalin commented on #339
@contactashish13 I think the problem is from the OrbitFox contact form since this one is the only Mailbox from HS with the problem. The others, ReviveSocial, Optimole, Themeisle, are working well. I can try to do this as well. Can we please check if we use the same details on Optimole webiste as we do on Orbitfox?

[2019-03-21 07:40] contactashish13 commented on #339
@mileamadalin I have no access to either so I won't be able to check the settings.

[2019-03-22 10:21] mileamadalin commented on #339
@contactashish13 I don't have access either @selul could you please help here?

[2019-04-02 11:34] selul commented on #334
I have fixed the strange char issue and added the template usability for Gutenberg or default editor.
For now it just renders the post content

[2019-04-02 11:38] #304 closed

[2019-04-02 11:38] selul commented on #37
closing stale issues.

[2019-04-02 11:38] #37 closed

[2019-04-02 11:38] selul commented on #58
closing stale issues.

[2019-04-02 11:38] #58 closed

[2019-04-02 11:38] selul commented on #76
closing stale issues.

[2019-04-02 11:38] #76 closed

[2019-04-02 11:39] selul commented on #85
closing stale issues.

[2019-04-02 11:39] #85 closed

[2019-04-02 11:39] selul commented on #107
closing stale issues.

[2019-04-02 11:39] #107 closed

[2019-04-02 11:41] #233 closed

[2019-04-02 11:41] #240 closed

[2019-04-02 12:07] #278 closed

[2019-04-02 12:24] selul commented on #299
Hello @xeux

Sorry for such a late notice, latest version should include this fix.

[2019-04-02 12:24] #299 closed

[2019-04-02 12:26] selul commented on #288
Hello @Jordz2203

Sorry for such late notice, we had some issues with the Full-Width template in case that you were using it. I hope this latest version fixes your issue. Otherwise, feel free to re-open the issue.

[2019-04-02 12:26] #288 closed

[2019-04-02 15:36] #284 closed

[2019-04-02 15:36] #287 closed

[2019-04-02 15:36] #291 closed

[2019-04-02 15:36] #341 closed

[2019-04-02 15:36] #342 closed

[2019-04-02 15:36] #312 closed

[2019-04-03 08:21] #340 closed

[2019-04-08 08:30] JohnPixle opened #346 "Post Grid - Style \ Content tab appears blank"
On a Neve Starter site https://demo.themeisle.com/neve-charity noticed that the content styles tab appear blank, thus leaving no options for styling customization of the title, excerpt etc.

Thanks!

![screenshot_2019-04-03_at_17 24 53](https://user-images.githubusercontent.com/4193672/55709653-77002780-59f1-11e9-9373-314bf76ed3d6.png)

[2019-04-23 07:45] #277 closed

[2019-04-23 07:47] radu-themeisle opened #351 "[Social Sharing Module] Remove Google+"
According to this [article](https://www.theguardian.com/technology/2019/feb/01/closure-google-plus-everything-you-need-to-know) on April 2nd Google+ has been discontinued so we should remove this option form the Social Sharing Module.

[2019-04-23 08:08] radu-themeisle opened #352 "[General] Text-background color contrast ratio"
The settings could benefit from an improved color contrast ratio, right now the colors make the text very hard to read: http://prntscr.com/nfn365

- For the **title** I propose this color:
#3B49AF (WCAG AAA compliant)
- For the **subtitle** I propose this color:
#50595E (WCAG AAA compliant)

Also, we should use a font size of 14px for paragraphs and 16px  + a font weight of 600 for titles.

This w

[2019-04-25 10:01] rodica-andronache commented on #346
@JohnPixle I just realized, the tab appears blank because the content is hidden here https://prnt.sc/ngnql2 so there is no content displayed, for which to add style.
The title's style can be changed from Style -> Title.

But indeed the Grid could offer more customization options, that we could use in the starter sites. I'll create a new issue with suggestions, where you can add your own as well.

[2019-04-25 10:01] #346 closed

[2019-04-25 11:22] rodica-andronache commented on #329
@mileamadalin as far I saw, I think we already have this in the plugin

[2019-04-25 12:32] stefan-cotitosu opened #354 "Fatal Error on gutenberg-blocks"
A few users reported this with the latest version of Orbit Fox.

I was not able to replicate the issue. I have tried activating Otter Blocks too, changing the PHP version, changing both plugins version, used Post Grid and Advanced columns blocks.

### Detailed testing steps:
Blocks used: Post Grid and Advanced columns (Section)

PHP versions:
- 7.2.0
- 7.1.4
- 7.0.3
- 5.6.20
- 5.5.38

Otter versio

[2019-04-25 21:36] HardeepAsrani commented on #354
@stefan-cotitosu Can you ask them for list of Installed Plugins?

[2019-04-30 06:48] stefan-cotitosu commented on #354
@HardeepAsrani Sure, I'll do that. Thanks for taking care of this.

[2019-04-30 13:19] stefan-cotitosu commented on #354
@HardeepAsrani here are the screenshots from one of the users.
Ticket: https://secure.helpscout.net/conversation/834206125/187015/

![Plugin Screen 1](https://user-images.githubusercontent.com/26867648/56964315-9eb35d00-6b63-11e9-8f57-aa106e2836e6.png)
![Plugin Screen 2](https://user-images.githubusercontent.com/26867648/56964326-a246e400-6b63-11e9-953b-21fa85a7e6ca.png)

[2019-05-01 04:16] HardeepAsrani commented on #354
I still can't reproduce this issue. @stefan-cotitosu Any more info that I can use? Can you ask them for their credentials?

[2019-05-02 07:51] stefan-cotitosu commented on #354
@HardeepAsrani Another user sent his plugins list
https://secure.helpscout.net/conversation/834106825/187007?folderId=212385

![BPT Screenshot for Stefan@Themeisle 1](https://user-images.githubusercontent.com/26867648/57062187-24501d80-6cc8-11e9-8063-875dab503420.jpg)
![BPT Screenshot for Stefan @ Themeisle 2](https://user-images.githubusercontent.com/26867648/57062195-274b0e00-6cc8-11e9-86f9-cb56

[2019-05-02 07:51] stefan-cotitosu commented on #354
Hardeep, I can ask them for credentials, but if we activate the plugin on their site, it will throw the fatal error again.

[2019-05-02 10:39] rodica-andronache commented on #354
@HardeepAsrani @stefan-cotitosu saw this one too, not sure if it helps https://wordpress.org/support/topic/fatal-error-cannot-redeclare-class-themeislegutenbergblocks/

[2019-05-03 02:26] HardeepAsrani commented on #354
@stefan-cotitosu There are no common plugins. It must be caused by something else. :(

I tried but can't reproduce.

[2019-05-03 02:33] HardeepAsrani commented on #354
@abaicus @selul Any ideas?

[2019-05-03 05:47] abaicus commented on #354
Maybe get the PHP error log to look at the call stack. My guess is that something isn’t properly required or namespaced.

[2019-05-03 06:58] preda-bogdan commented on #354
`Cannot declare class ThemeIsle\GutenbergBlocks\Posts_Grid_Block, because the name is already in use in wp-content/plugins/themeisle-companion/vendor/codeinwp/gutenberg-blocks/src/blocks/posts/class-posts-grid-block.php`
It looks like a name collision from vendors

[2019-05-03 07:00] selul commented on #354
@HardeepAsrani I would show some love to the blocks autoloader, maybe you can use a PSR-4 approach of loading them.

Moreover, this class name seems bugged for me https://github.com/Codeinwp/gutenberg-blocks/blob/master/class-gutenberg-blocks.php#L263 using two `\\`

Maybe you can use something like `if (class_exists(ClassName::class)) { ` when checking if the library is already loaded.

Also, the

[2019-05-03 07:14] preda-bogdan commented on #354
@selul  [L263](https://github.com/Codeinwp/gutenberg-blocks/blob/master/class-gutenberg-blocks.php#L263) is not bugged he is just escaping the `\` before `'`
@HardeepAsrani I agree with Marius, maybe do a check before declaring classes if you know you might have more instances of this plugin inside the same wordpress instalation.

[2019-05-03 07:16] selul commented on #354
@preda-bogdan yes, you're right, my bad.

[2019-05-03 08:01] HardeepAsrani commented on #354
We disable the module if Otter Blocks is enabled: https://github.com/Codeinwp/themeisle-companion/blob/master/obfx_modules/gutenberg-blocks/init.php#L39

And we also check if the class exists in the main class (which contains our autoloader) before loading it: https://github.com/Codeinwp/gutenberg-blocks/blob/master/class-gutenberg-blocks.php#L5

That shouldn't prevent it? @selul @preda-bogdan

[2019-05-03 08:03] selul commented on #354
@HardeepAsrani my guess is that otter folder might be renamed in that case which fails the companion check.

The class check should work I guess 🤔 , maybe you can add the autoload flag too to the function.

[2019-05-03 08:09] HardeepAsrani commented on #354
@selul I tried changing the name and everything and it still didn't cause any fatal error.

For the class check, can you give more pointers as I've never written an autoloaded before? 👯‍♂

[2019-05-03 08:14] preda-bogdan commented on #354
As you do here [class-gutenberg-blocks.php#L5](https://github.com/Codeinwp/gutenberg-blocks/blob/master/class-gutenberg-blocks.php#L5) you should do the same here [class-posts-grid-block.php#L7](https://github.com/Codeinwp/gutenberg-blocks/blob/139be1219a8c2bd581875253f363c4c085f86b6c/src/blocks/posts/class-posts-grid-block.php#L7) and in other classes. IMO

[2019-05-03 08:15] HardeepAsrani commented on #354
Yes, I totally agree with you but that's still not telling us why it's failing now. 😛

[2019-05-03 08:17] selul commented on #354
@HardeepAsrani by class check i mean to use the 2nd param here `class_exists(ClassName::class, true)`

For autoloader, you can check this guide https://www.php-fig.org/psr/psr-4/

Basically, you just need to respect the filename/classname rules, you don't need to write the autoloader as composer is doing that for you, here you have something that we do with Neve to autoload the classes with compos

[2019-05-03 08:18] selul commented on #354
@HardeepAsrani my guess is that some edge cases here and until we manage to replicate the issue, we can do those things, at least we will be on the safe side with them.

[2019-05-03 08:18] preda-bogdan commented on #354
Because it might already exist as a dependency of another module or plugin.

[2019-05-08 08:48] rodica-andronache opened #355 "Slider elementor widget"
as discussed here https://github.com/Codeinwp/ti-onboarding/issues/51, we can create a slider Elementor widget which should allow for a title, subtitle and button. It would be useful so we can recreate Shop Isle's slider in the starter site

[2019-05-09 13:55] stefan-cotitosu commented on #354
@HardeepAsrani Any update on this one? 🙂

[2019-05-09 17:02] HardeepAsrani commented on #354
@stefan-cotitosu I'll improve the checking in the next version. For now can you ask one user for login and FTP so we could try to debug it, if possible?

[2019-05-09 17:05] stefan-cotitosu commented on #354
@HardeepAsrani Yes, I will ask. I was hoping that you can implement what Bogdan suggested without other input from users. Then I can ask them to activate the latest version of the plugin, to see if you managed to fix it.

Thanks again for your help with this one. Another user reported the problem today, that's why I asked.

[2019-05-10 11:57] stefan-cotitosu commented on #354
@HardeepAsrani Another user said the plugin caused a fatal error but he can't provide the error code because the hosting company disabled the plugin.

Fortunately, this is the only user who gave us FTP access so we can debug the issue. Here is the ticket
https://secure.helpscout.net/conversation/849078749/188341?folderId=212385

Thanks for checking this one 🙂

[2019-05-10 20:59] HardeepAsrani commented on #354
@stefan-cotitosu I'm not sure it's the same issue as they said it's related to PHP version. Also, I'll also need WP login details to test.

[2019-05-14 07:21] stefan-cotitosu commented on #354
@HardeepAsrani Parrot token in the ticket. Thanks.

[2019-05-14 20:53] HardeepAsrani commented on #354
@stefan-cotitosu I tried and things just worked. No issues. :(

[2019-05-19 13:02] stefan-cotitosu commented on #354
@HardeepAsrani Did you activate the plugin on his site and there is no issue?

[2019-05-19 21:20] HardeepAsrani commented on #354
@stefan-cotitosu Yup. No issues when I tried.

[2019-05-20 07:24] stefan-cotitosu commented on #354
@HardeepAsrani Ok, thanks, I will update the customer.

[2019-05-21 13:40] cristian-ungureanu opened #359 "Policy Notice module issues"
I tried to set the Policy Notice module on https://mystock.themeisle.com/ and run in some trouble.
The notice does not display on the front page if you set it as the latest posts.
The notice appears only on pages or posts or cpt single, but it doesn't appear on the last post I've added ( http://mystock.themeisle.com/photo/front-view-of-taj-mahal/ )
The View Policy link goes to the same link you're

[2019-06-21 11:44] poonam279 opened #360 "Menu icon module conflicts with Advanced Custom field"
@HardeepAsrani

When I use orbit fox plugin with Advanced custom field plugin and activate the menu icon module it shows a message "There appears to be a conflict with the plugin advanced-custom-fields. This module may not work as expected."
Screenshot: http://prntscr.com/o4tb7j

I tried the menu icon plugin and it's working fine with ACF.

[2019-07-09 02:24] HardeepAsrani commented on #360
cc @abaicus

[2019-07-09 07:56] cristian-ungureanu opened #361 "Gutenberg blocks module in conflict with List Icon Elementor widget."
Because the last version of FontAwesome is added in OrbitFox Gutenberg blocks module, it breaks icons from List Icon Elementor widgets. The issue comes from a CSS file called v4-shim or smth like that.

[2019-07-09 08:33] cristian-ungureanu opened #362 "Elementor Newsletter Widget should be improved."
There are some issues with the notifications after the form is submitted. If the API key and list Id aren't valid, when you try to submit your email, you'll receive the message "null" in a box http://prntscr.com/ochq3s.

In one ticket, after submitting that form, the user received [Object Object] which is not right at all.

I think the error messages should be customizable. Right now, when you sub

[2019-07-10 09:30] ineagu opened #363 "allow change of enabled module with filters"
@contactashish13 I am not sure if is possible but might be useful if we can from the theme set the default modules on orbitfox, for e.g on neve we can say that we want the share icons/menu icons disabled by default.

cc @rodica-andronache

[2019-07-11 12:20] mileamadalin commented on #339
@contactashish13 Close this one. Fixed

[2019-07-11 12:20] #339 closed

[2019-07-15 14:35] mileamadalin opened #364 "Contact form"
@cosmin-serbanescu the old contact form from the website of Orbit Fox https://orbitfox.com/contact/ didn't work as expected, and I had to change it since there was a problem with the communication with our customers.

As a quick fix, I have installed another Contact Form (instead of using ours that wasn't compatible anymore), and I need your help here to stylize it a bit.

[2019-07-17 08:43] mileamadalin commented on #364
@cosmin-serbanescu Thank you!

[2019-07-17 08:43] #364 closed

[2019-07-17 10:42] contactashish13 commented on #363
PR https://github.com/Codeinwp/themeisle-companion/pull/365

Example below of how to call this in the functions.php of the theme:

[code]

cc @rodica-andronache

[2019-07-18 13:36] mileamadalin opened #366 "MyStock module issue"
@contactashish13 looks like the module MyStock Import is not working as expected. When I'm trying to import an image to add it on a post or page, the old box is not appearing anymore.

Please see the video attached: https://www.dropbox.com/s/qr7qvtzuict61yq/Screen%20Recording%202019-07-18%20at%2016.31.25.mov?dl=0

[2019-07-24 09:53] ineagu opened #367 "speed enhancements"
@selul there are a quite a bit of problems regarding how orbitfox which is a requirement for hestia, affect the websites speed, particularly by loading scripts that aren't really needed on all pages.

Some of those have been fixed in otter, it just need to be released I guess

[2019-07-26 13:56] rodica-andronache opened #370 "Speed improvements for Starter Sites"
This is just a starting point. The goal is to make sure OBFX is working well and doesn't have any negative impact on the Starter Sites and the theme.

For start, you can go through all of Neve's Starter Sites and identify which modules of OBFX are used or not for each one of them.

We'll want to make sure we activate just the modules needed for each specific Starter Site in the onboarding and load

[2019-07-27 14:34] selul commented on #370
Some things that we need to care here:

- [ ] Audit each OrbitFox module and make sure we load the JS/CSS files only when needed.
- [ ] Js files should always be loaded in the footer.
- [ ] For starter sites, make sure to have active, after import, only the modules from OrbitFox that are needed. Each starter site might have on the import file an option which should explicitly tell which module to

[2019-07-29 10:53] #367 closed

[2019-07-29 13:54] rodica-andronache commented on #370
- The FA icons don't load in the Star Rating component in Elementor, when you are not logged in on the demo. It might be related to OBFX https://github.com/Codeinwp/ti-starter-sites/issues/1

[2019-08-01 13:56] selul commented on #370
@cristian-ungureanu during the audit that you conduct, you might have this in mind also:

https://github.com/Codeinwp/themes-internal/issues/49

[2019-08-02 08:46] rodica-andronache opened #371 "Font Awesome Icons block missing icons"
**When Otter is not installed**, some icons from the Font Awesome Icons block are not loading either just in the customizer or on the site as well ( depending on the theme ). I've tested with Hestia and Hello.

![obfx-without-otter](https://user-images.githubusercontent.com/3266155/62357129-1bffbc80-b51b-11e9-94d1-8636dc2ca6ad.png)

[2019-08-05 13:05] cristian-ungureanu commented on #370
For OrbitFox modules:

**Social Sharing Module** - allow admin files to load only on the obfx config page and the public scripts to load only on posts and pages. Also, load js files in the footer.

**Gutenberg Blocks** - OK

**Uptime Monitor** - OK

The **Analytics Integration** module was loading an admin js file outside of its config page. Now it's fixed and the script loads in the footer.

In *

[2019-08-07 09:04] selul commented on #370
All looks good, it seems the build here is failing https://github.com/Codeinwp/themeisle-companion/pull/372 due to PHPUnit tests. can you have a look ?

[2019-08-07 15:00] cristian-ungureanu commented on #370
Fixed it, thanks @selul.
I've updated Hestia's starter sites too: https://github.com/Codeinwp/hestia-pro/pull/2131 and checked the icon problem with Otter. After the migration that @abaicus made, everything works fine.

I think someone should also check the starter sites on Hestia too, they don't look that well.

[2019-08-12 20:21] viennaa opened #377 "Invalid argument supplied for foreach() in menu-icons/init.php"
**Preamble**
What version of Orbit Fox are you using?
2.8.6
What version of WordPress are you using are you using?
5.2.2
What did you do?
Upgrade from Orbit Fox 2.8.5 to 2.8.6
What did you expect to see?
No warnings and everything working as usual
What did you see instead?
4 times  `Warning: Invalid argument supplied for foreach() in /www/htdocs/w00dc2cd/fotoclub-kontrast.de/wp-content/plugins/the

[2019-08-13 05:54] #377 closed

[2019-08-13 06:05] selul commented on #377
@viennaa this should be fixed in the latest release of 2.8.7.

Thanks a lot for reporting.

[2019-08-13 06:50] #362 closed

[2019-08-13 06:50] #370 closed

[2019-08-27 06:00] contactashish13 commented on #366
@mileamadalin is this a problem with only the block editor or also the classic editor?

[2019-08-27 06:08] cristian-ungureanu commented on #366
The module works only when gutenberg si not enabled. I've tested it a while
ago and it works fine. You can close this issue.

On Tue, Aug 27, 2019, 9:00 AM contactashish13 <notifications@github.com>
wrote:

[2019-08-27 07:05] #366 closed

[2019-09-10 08:54] SilviuDinu commented on #338
@contactashish13 a user with Neve Doctors also reported this to us. The Contact Form widget added by Orbit Fox is a bit faulty (can't detect field input).

Here is a video of the issue -> https://embed.vidyard.com/share/aLsTL2WRvoDp2EbfM1oX5Y

[2019-09-10 17:26] abaicus opened #379 "THEMEISLE_COMPANION_VERSION constant not defined in all cases"
`THEMEISLE_COMPANION_VERSION` is used inside the Beaver Widgets module, but is not defined in the root plugin.

I think one solution would be to use an actual static version or correlate everything with a global `OBFX_VERSION` constant that would be used for all enqueues.

`wp-content/plugins/themeisle-companion/obfx_modules/beaver-widgets/custom-fields/number-field/number_field.php`

![image](htt

[2019-09-11 08:29] #379 closed

[2019-09-11 12:37] rodica-andronache opened #382 "Post grid notices using Beaver"
I think it's related to the Post grid block from OBFX. The notices appeared when I imported https://demo.themeisle.com/neve-amadeus-bb/
![neve-beaver](https://user-images.githubusercontent.com/3266155/64697679-09798b00-d4aa-11e9-90af-65dac241ab92.png)

[2019-09-12 10:55] selul opened #384 "notice reported when beaver module is active"
I get an error logged when beaver forms are used in orbit fox:

[code]

[2019-09-13 14:22] #382 closed

[2019-09-25 16:52] stefan-cotitosu opened #386 "MyStock module not working in Gutenberg"
When editing a post in Gutenberg, if I want to add an image block, there is no mystock tab next to the media library([screenshot here](https://prnt.sc/pav642)).

If I use the [Classic Editor plugin](https://wordpress.org/plugins/classic-editor/), it works.

Also, it doesn't work in Elementor with the image widget, not sure if it's supposed to work there.

[2019-09-25 16:52] stefan-cotitosu commented on #386
https://secure.helpscout.net/conversation/964729589/202692/

[2019-09-30 13:06] cristian-ungureanu commented on #386
Don't know if we can fix this, a quick fix is to hide the module if gutenberg is active

[2019-10-02 15:00] rodica-andronache commented on #386
just as a reference we also got a bad review about this https://wordpress.org/support/topic/uhm-ok/

[2019-10-03 14:57] cristian-ungureanu commented on #338
@selul I've managed to find and fix the problem but I think we should improve the functionalities of this module. Maybe we can make a plan for it on Monday.

[2019-10-12 17:40] purplecodes opened #387 ""Missing Company" Error in Contact Form."
I tested this in Hestia and here are the results:

1. I added a field and named it "Company" by clicking the duplicate icon on the existing default items.
It shows on the Contact form and was able to send the message. https://snipboard.io/D4Ebt7.jpg

2. I added a field and named it "Company" by clicking the Add Item button.
It shows on the Contact form but was not able to send because of the 'Miss

[2019-10-12 18:28] purplecodes commented on #387
Additional note:
As tested by the user, he was able to receive his contact form submitted on his site on his email when testing #1 (as above). The company field can be seen on the frontpage's contact form and the message has been sent but on the email, the company field is not visible.

https://secure.helpscout.net/conversation/967270141/202982/

[2019-11-04 10:50] #329 closed

[2019-11-06 11:38] rodica-andronache opened #388 "[Post Type Grid] Add "All categories" option for Category select"
Add a new `"All categories"` option in the `Category` select that would display posts from all categories.
![Screenshot (1)](https://user-images.githubusercontent.com/3266155/68295201-88e69d80-009a-11ea-97d5-6e8e9f6db856.png)

Source: https://www.notion.so/themeisle/19423b64733743389c90461fe9893ceb?v=c62fbb45fc9c4746b2e4671d6b6ceeb4&p=09842fb54af544629ce1e810c277978c

[2019-11-06 11:41] rodica-andronache opened #389 "[Post Type Grid] Add responsive controls for the image height option"
Add `responsive controls` for the `image height` option to be able to have different height values on desktop/tablet/mobile.

![Screenshot (2)](https://user-images.githubusercontent.com/3266155/68295363-eed32500-009a-11ea-96da-199f92fb47b5.png)

Source: https://www.notion.so/themeisle/19423b64733743389c90461fe9893ceb?v=c62fbb45fc9c4746b2e4671d6b6ceeb4&p=09842fb54af544629ce1e810c277978c

[2019-11-06 12:01] rodica-andronache opened #390 "[Post Type Grid] Remove default box shadow on images"
By default, images have a box-shadow, even though the `Box shadow option` is empty.

To keep things the same on update, we could change the default value of the Box shadow option to match the default box shadow.
Or if we don't care about that, just remove the default box shadow.

![Screenshot (3)](https://user-images.githubusercontent.com/3266155/68295842-efb88680-009b-11ea-98b0-b0e004e63e7b.png)

[2019-11-06 12:04] rodica-andronache commented on #388
I would say here we could also list just categories that have posts in them, as right now even empty categories can be selected, which doesn't make sense.

[2019-11-06 12:12] rodica-andronache opened #391 "[Post Type Grid] Read more button has same text and background color"
Read more button has same text and background color making it not visible
![Screenshot (4)](https://user-images.githubusercontent.com/3266155/68297329-55f2d880-009f-11ea-97ee-cbda81b319b6.png)

[2019-11-06 12:28] rodica-andronache opened #392 "[Post Type Grid] Add vertical image alignment options for list view"
John mentioned we could add some options for` vertical alignment` for `images in list view`

Note: I couldn't replicate this screenshot. No matter how I played with the image height control and font sizes, the image was always top-aligned with the content.
![Screenshot (1)](https://user-images.githubusercontent.com/3266155/68298200-715ee300-00a1-11ea-9a64-a4b4a81a71eb.png)

Source: https://www.not

[2019-11-06 12:32] rodica-andronache opened #393 "[Post Type Grid] Meta size not working corectly"
The `size` control for `meta` does not increase the font size of the text, as it's selecting the correct element ( it selects its parent )
![Screenshot (2)](https://user-images.githubusercontent.com/3266155/68298392-ea5e3a80-00a1-11ea-952c-22bc1d43b66d.png)

Source: https://www.notion.so/themeisle/19423b64733743389c90461fe9893ceb?v=c62fbb45fc9c4746b2e4671d6b6ceeb4&p=09842fb54af544629ce1e810c277978

[2019-11-11 13:26] cristian-ungureanu commented on #390
@selul @rodica-andronache that kind of control does not accept any default data [ https://github.com/elementor/elementor/issues/5920 ]. There are only two options, either we remove the default CSS ( but then any site that didn't have the image box-shadow modified in Elementor won't have box-shadow on image ) or we leave it as it is.
Personally, I would choose to leave it alone.

[2019-11-11 13:39] selul commented on #390
we can leave it alone in this case.

[2019-11-11 13:42] #390 closed

[2019-11-18 15:32] #338 closed

[2019-11-18 15:35] #391 closed

[2019-11-18 15:36] #388 closed

[2019-11-18 15:37] #389 closed

[2019-11-18 15:39] #392 closed

[2019-11-18 15:46] #384 closed

[2019-11-19 15:43] cristian-ungureanu commented on #393
this was fixed in Codeinwp/elementor-extra-widgets ... a new release for obfx should trigger the update

[2019-11-20 09:47] rodica-andronache commented on #393
hi! can you share the archive with me so I can test?

[2019-11-20 16:29] rodica-andronache opened #397 "Notices when using all Woo widgets from OBFX"
When using **OBFX's woo widgets**, like Woo Best Selling Products or Woo On Sale Products for example, multiple notices of this form appear:

Notice: Undefined index: before_widget in /Users/rodica/Local Sites/wordpress/app/public/wp-content/plugins/themeisle-companion/vendor/codeinwp/elementor-extra-widgets/widgets/woo/best-products.php on line 77
Notice: Undefined index: after_widget in /Users/r

[2019-11-21 11:17] cristian-ungureanu commented on #397
This was fixed in the composer module in this PR. https://github.com/Codeinwp/elementor-extra-widgets/pull/17 .Will be visible in the next release of OBFX

[2019-11-21 12:53] rodica-andronache commented on #397
@cristian-ungureanu when you're done with the changes for OBFX, please share the archive with me, so I can test it. Thanks

[2019-11-21 16:34] rodica-andronache commented on #397
@cristian-ungureanu I didn't get those notices anymore but saw others. Didn't test with all the widgets, but it looks to be the same one for all of them:

Notice: Undefined index: widget_id in /Users/rodica/Local Sites/wordpress/app/public/wp-content/plugins/themeisle-companion/vendor/codeinwp/elementor-extra-widgets/widgets/woo/recent-products.php on line 106

Notice: Undefined index: widget_id i

[2019-11-26 11:21] rodica-andronache opened #398 "Fatal error when using Indeed Membership Pro"
1. Install Indeed Membership Pro ( the zip is on drive and in the handbook )
2. Install OBFX
3. This fatal error appears
![Screenshot (2)](https://user-images.githubusercontent.com/3266155/69625318-fd37af80-104e-11ea-8f96-a5ca432a58c8.png)

From what I've tested, I think that changing this line:
https://github.com/Codeinwp/themeisle-companion/blob/master/obfx_modules/menu-icons/init.php#L283
to:
`

[2019-11-29 12:05] rodica-andronache opened #400 "Notice using the Services widget"
How to replicate:
- create a post in Elementor
- add the Services widget from OBFX
- for one of the Services add a link in the Link to field
- a warning will appear on the frontend
![download](https://user-images.githubusercontent.com/3266155/69868008-3a9b7780-12b1-11ea-9f46-c7e6ae677f74.png)
![download (1)](https://user-images.githubusercontent.com/3266155/69868021-438c4900-12b1-11ea-9a05-42e4dad

[2019-11-29 12:07] rodica-andronache commented on #398
@selul tested this issue, https://github.com/Codeinwp/themeisle-companion/issues/397, and https://github.com/Codeinwp/themeisle-companion/issues/393 and everything is ok from my side. I just saw https://github.com/Codeinwp/themeisle-companion/issues/400

[2019-11-29 15:28] SilviuDinu opened #401 "[Social Sharing Module] Add YouTube as an option"
Someone wanted to use YouTube as an option for the Social Sharing Module from OBFX.

Even though YT is not a social platform like Facebook and it's more like a content creation platform, I think we can still consider adding it as an option for the module.

[2019-11-29 15:33] cristian-ungureanu commented on #401
It's a sharing module. How do you share on yt? The client probably needs a
button with a link to yt.

On Fri, Nov 29, 2019, 5:28 PM Silviu-Alex Dinu <notifications@github.com>
wrote:

[2019-11-30 12:59] SilviuDinu commented on #401
@cristian-ungureanu I agree with you. As I said, YT is more likely a content creation platform and you're right, a button with a link for yt would be as good as any.

However, YT has introduced some kind of posting system like this -> https://prnt.sc/q49589 where you can share stuff.

Anyway, the user specifically asked this scenario to happen within the OBFX module, even after I explained how YT

[2019-12-02 15:33] #398 closed

[2019-12-02 15:41] rodica-andronache opened #402 "Page builder widgets module duplicated when using both page builders"
When both Elementor and Beaver Builder are installed and activated, the
Page builder widgets module appears twice in the OBFX dashboard
![Screenshot](https://user-images.githubusercontent.com/3266155/69972714-c4a24500-152a-11ea-96c0-266a8e3899d2.png)

[2019-12-02 15:43] #393 closed

[2019-12-02 15:46] #397 closed

[2019-12-03 11:30] rodica-andronache opened #403 "Fatal error on eyepatch"
Saw on Neve's PR's that on eyepatch on the frontpage, there's a fatal error coming from OBFX
http://eyepatch.ai/gallery/128498/RVlBS0ZqWkFGTEVWOkVZQVM0SVRFcTFWNG9RV3dDTW0=/

![Screenshot](https://user-images.githubusercontent.com/3266155/70047540-ebb35200-15d0-11ea-98ac-f1ed930ce8e4.png)

[2019-12-03 14:58] cristian-ungureanu commented on #403
Elementor introduced the ICONS control in version 2.6 and they've launched another 15 updates after that. The problem is that Elementor on eyepatch is older than 2.6.
As I talked with @selul , we need to update Elementor on eyepatch. No need to add backward compatibility with an older version for this.

[2019-12-04 12:14] selul commented on #403
should be fixed with the upcoming builds

[2019-12-04 16:20] #403 closed

[2020-01-08 21:45] patrickvdlinden opened #404 "No permission to hide the activation notice (or view dashboard)"
Ref: https://github.com/Codeinwp/themeisle-companion/blob/cab05fc61c0039c4a5bf1b0d7d7539b4ebc13a33/core/app/class-orbit-fox-admin.php#L137

The activation notice within the dashboard has a close button, but when logged in as a _non_-administrator this goes to a permission denied page (/wp-admin/admin.php?page=obfx_companion&obfx_ignore_visit_dashboard_notice=0) and it stays visible afterwards.
The

[2020-02-05 15:21] rodica-andronache opened #413 "Contact form broke layout in Beaver Builder"
I'm not sure what may have caused this, but I just noticed some of the Beaver Builder starter sites have the Contact Form layout messed up on the frontend. In the backend, it looks good from what I've seen.

![Screenshot (4)](https://user-images.githubusercontent.com/3266155/73854890-e924e100-483b-11ea-949b-453aba237c78.png)

Some examples
https://demo.themeisle.com/neve-wedding-bb/neve-wedding-bb

[2020-02-08 08:16] SilviuDinu opened #414 "Warning on Frontend regarding Gutenberg Blocks"
Someone reported a warning appearing on the Frontend while having both OrbitFox and Otter updated on the latest version.

The warning appears on all pages except the frontpage and it looks like this:

I was also been able to replicate some sort of issue on my local and it looks like this -> https://prnt.sc/qzaobx
The issue occurred for me after I added a section template with Otter (cc @HardeepAsr

[2020-02-08 17:04] HardeepAsrani commented on #414
@selul would know more about this as he dealt with this issue.

[2020-02-08 17:17] HardeepAsrani commented on #414
You can ask the person to deactivate Gutenberg Blocks module in Orbit Fox for now. We will see about the issue. @SilviuDinu

[2020-02-12 11:42] stefan-cotitosu opened #415 "Policy Notice can't be dismissed/closed"
Whenever I try to close the policy notice nothing happens. When clicking on the _Accept_ link, a JS error appears in the browser console and the notice remain on the screen.

![policy-notice](https://user-images.githubusercontent.com/26867648/74331968-6b158c80-4d9d-11ea-9d1e-337a2681e524.png)

[2020-02-13 12:56] selul commented on #414
@SilviuDinu your screenshot was wrong, it was not the good line/file, however I have fixed it and will include it in the next release.

[2020-02-13 13:06] SilviuDinu commented on #414
@selul sorry about the screenshot. I followed the same path and line as described in the warning message. I thought it was the correct one.

[2020-02-13 13:37] selul commented on #413
should be fine now.

[2020-02-13 13:39] #414 closed

[2020-02-13 13:39] #415 closed

[2020-02-13 14:13] #413 closed

[2020-02-26 14:06] purplecodes opened #422 "Unable to integrate Google Analytics"
Steps Taken to replicate the issue:
From the **WP Dashboard** > **Orbit Fox**.
Enabled the **Analytics Integration**.
At the bottom of the same page, there would be a green button available says '**Authenticate with Google**'. See here -->> https://snipboard.io/hQiDu4.jpg
Clicked on the green button and chose a Google account.
Got an error "S**ign in with Google is temporarily disabled for this ap

[2020-02-26 15:44] poonam279 commented on #313
Same issue reported here: https://secure.helpscout.net/conversation/1093798773/218167?folderId=212385

[2020-02-29 14:36] rodica-andronache commented on #404
+1 https://twitter.com/allanaaaaaaa/status/1232769618453958658

[2020-03-05 13:12] selul commented on #404
should be fixed in the latest release.

[2020-03-05 13:12] #404 closed

[2020-03-06 14:15] rodica-andronache opened #427 "Add checkbox field in the Contact form"
Right now, the Contact form allows only `Text, Textarea, Password, and Email`.
A user suggested a `checkbox` field, as otherwise, you can't add a GDPR notice in the form https://www.facebook.com/groups/648646435537266/972547643147142/?comment_id=973385549730018&reply_comment_id=973446326390607&notif_id=1583503417405317&notif_t=group_comment_mention

[2020-03-12 13:35] rodica-andronache opened #428 "Social sharing networks not saving"
I couldn't see a pattern, but I've tried enabling/disabling social networks multiple times and at some point, the networks are not saved, unless I refresh the page.
I tried to show this in a video.
https://www.loom.com/share/348a1a589ca74958abdd4a78644d3496

Not sure if related, but the sharing networks are missing from the demo as well https://orbitfox.com/social-sharing-modules/

[2020-03-17 07:35] abaicus commented on #422
@purplecodes Google has approved our Application, so everything should be good now :+1:

[2020-03-23 10:56] rodica-andronache commented on #422
After selecting the Google account, I got these notices
`Notice: Trying to get property 'tracking_code' of non-object in /Users/rodica/Local Sites/wp5/app/public/wp-content/plugins/themeisle-companion/obfx_modules/google-analytics/init.php on line 254`
![Screenshot (1)](https://user-images.githubusercontent.com/3266155/77309680-be1c2100-6d05-11ea-89a8-7cf87dc0eacd.png)

[2020-03-26 15:18] rodica-andronache opened #438 "Check hestia_display_fa_icon() before using it"
I think we need to check the `hestia_display_fa_icon()` function before using it, as it can cause errors with older versions of Hestia.

Source: https://wordpress.org/support/topic/error-thrown-17/
https://wordpress.org/support/topic/poor-support-109/

[2020-04-01 09:11] mileamadalin opened #442 "MyStockPhotos module issue with Gutenberg"
The "Mystock Import" module is not working with Gutenberg.

I tested with the classic editor and is working properly: https://drive.google.com/file/d/1j5zg_wcEyaraq9BrFA3sHWpFbo3rNvSa/view?usp=sharing

However, when I use Gutenberg this feature no longer appears: https://drive.google.com/file/d/1KbonqikTCks3zCJV5hbqcNG6gAstqJfQ/view?usp=sharing

User message: https://wordpress.org/support/topic/uh

[2020-04-06 16:00] NicoPL opened #446 "Feature: hidden field in contact form"
As firstly specified in #147, hidden fields in the contact form would be very helpful.
If we use several contact forms for several usages, it's not possible when we get the email to know what was the purpose. Having hidden fields would provide more information when receiving the email and be able to segregate the demands.

Exemple, if we have on a same page:
- "contact form" used to subscribe to a

[2020-04-07 11:28] #422 closed

[2020-04-09 08:04] cristian-ungureanu commented on #442
I will close this issue as it's a duplicate of https://github.com/Codeinwp/themeisle-companion/issues/386

[2020-04-09 09:16] stefan-cotitosu opened #450 "[Social Sharing Module] The icons are missing from the demo"
I remember that the icons should be displayed on the left side of [this page](https://orbitfox.com/social-sharing-modules/).

It is also mentioned in the page content.

![social-sharing-module](https://user-images.githubusercontent.com/26867648/78878947-e1f89a00-7a5b-11ea-8440-89b81a3383ed.png)

[2020-04-09 09:27] #442 closed

[2020-04-10 12:22] Chouby opened #451 "Improve integration with WPML and Polylang"
The current integration with WPML is done with calls to the function `icl_t()` [here](https://github.com/Codeinwp/themeisle-companion/blob/v2.9.6/obfx_modules/companion-legacy/inc/shop-isle/content-slider.php#L62) and in a few other lines of the same file.

There are a few caveats with this way of proceeding.
1. `icl_t()` is deprecated since WPML 3.2 and should be replaced by the filter `wpml_regi

[2020-04-15 07:56] cristian-ungureanu commented on #359
@selul I will close this issue as all the problems were solved ( I think in [this PR](https://github.com/Codeinwp/themeisle-companion/pull/418) )

[2020-04-15 07:56] #359 closed

[2020-04-15 09:35] cristian-ungureanu commented on #400
@rodica-andronache  the problem was fixed here: https://github.com/Codeinwp/elementor-extra-widgets/pull/20 and it should go live after a new release for obfx.

[2020-04-15 10:18] cristian-ungureanu commented on #297
This issue is not present anymore.  I'm closing this.

[2020-04-15 10:18] #297 closed

[2020-04-15 12:46] #401 closed

[2020-04-15 15:46] rodica-andronache commented on #313
@cristian-ungureanu with the new OBFX version from https://github.com/Codeinwp/themeisle-companion/pull/454 I installed Beaver Builder( Lite ) and created a page with OBFX's modules ( Pricing, Posts Grid, etc ).
Switched to Beaver Builder Pro and the modules on the page turned into the corresponding ones from Beaver Builder Pro. For example, `Post Grid from OBFX` turned into `Posts from Beaver Bui

[2020-04-16 07:20] cristian-ungureanu commented on #313
@rodica-andronache unfortunately yes. I think that's how it works even now. As I said, we are using the same IDs that Beaver Builder Pro is using. When you switch to Beaver Builder Pro, they already have a "post-grid" widget so they'll load theirs. The only thing I can do is to no longer load "post-grid" widget in lite when there are new users and to load "obfx-post-grid" ( which is the same widge

[2020-04-16 09:00] cristian-ungureanu commented on #387
This was fixed in this PR https://github.com/Codeinwp/themeisle-content-forms/pull/45

[2020-04-16 09:00] #387 closed

[2020-04-16 12:17] cristian-ungureanu commented on #446
@rodica-andronache I've added an option to make a field hidden. When you have some time please have a look at [this PR](https://github.com/Codeinwp/themeisle-content-forms/pull/49).

[2020-04-16 17:13] NicoPL commented on #446
Sounds great thank you

On Thu, 16 Apr 2020 at 14:17, cristian-ungureanu <notifications@github.com>
wrote:

[2020-04-21 10:20] rodica-andronache commented on #446
@cristian-ungureanu it's working well.
There's just a small thing, visible when you add the Hidden field somewhere in the middle of the form, and use certain themes, like Twenty Twenty for example.
The spacing option applies to the hidden input as well, leaving a white space there.
<img width="1654" alt="Screenshot 2020-04-21 at 12 49 07" src="https://user-images.githubusercontent.com/3266155/7985

[2020-04-21 11:26] rodica-andronache commented on #313
@cristian-ungureanu from what I understood, I'm not sure if the check for a new user is correct here https://github.com/Codeinwp/themeisle-companion/pull/454/commits/c8d73688b775c00e0f3f9069dd6a1b021c761c67

I've installed OBFX > activated Beaver > created a page with the Post Grid widget from OBFX > activated Beaver Pro -> the Post Grid widget was replaced with the Posts widget from Beaver, becau

[2020-04-21 12:10] cristian-ungureanu commented on #446
@rodica-andronache fixed both issues, it should work now. Thanks for testing!

[2020-04-21 12:36] cristian-ungureanu commented on #313
@rodica-andronache it should work now

[2020-04-21 13:15] rodica-andronache commented on #446
@cristian-ungureanu it's working well.
Another small thing. I think we should have the `Field Width` option visible for Hidden fields as well because right now it works like this:
I click on Add a new field. At this point, the default for Field Width is 25%.
When I select Hidden field, the Field Width option disappears, but the field will actually use that 25% value.
And this is causing the Submit

[2020-04-21 13:38] rodica-andronache commented on #313
@cristian-ungureanu sorry, but I'm still not sure how it should work for new/old users.

If I do the process "installed OBFX > activated Beaver > created a page with the Post Grid widget from OBFX > activated Beaver Pro" without any waiting time, the Post Grid from OBFX is NOT replaced with the one from Beaver

If I do the same process, with a waiting time of 1 minute after installing OBFX , the P

[2020-04-21 14:23] cristian-ungureanu commented on #313
@rodica-andronache there is an option that is set to recognize the new/old user. Its name is obfx_new_user. Please clear that and try to test again. Probably it was already set on the instance you are working so the latest change I've made didn't count. Maybe try it on a new instance on jurassic.ninja
I'll try to better explain the problem and the solution so you'll know how it works and what resu

[2020-04-21 14:55] cristian-ungureanu commented on #446
@rodica-andronache the hidden field wrapper has display: none; so it shouldn't affect the form alignment and it shouldn't matter what width is there. I tried to put it with a width of 25% and make it the first one. The second and third fields have 50% and it looks normal. Do you have a specific configuration of the form when it's not looking as it should? I tried it in Hestia and in Twenty Twenty

[2020-04-21 15:22] rodica-andronache commented on #446
@cristian-ungureanu I've tried it using Beaver with Neve and the hidden field being the last one in the form.
In that case, the hidden field was 25% by default, and the submit button wasn't aligned anymore
https://www.loom.com/share/bfdc2b4969014253abac52e2fd507cfa

[2020-04-22 06:55] cristian-ungureanu commented on #446
@rodica-andronache I don't think you've got the latest version from here https://github.com/Codeinwp/themeisle-content-forms/pull/49. In [this commit](https://github.com/Codeinwp/themeisle-content-forms/pull/49/commits/5e071eb5a345042bcaf2f9bd15a742a4f2d84c99), I've added "display:none" to that file. I also tested on neve and it's working well. It's either the cache or you don't have the latest ch

[2020-04-22 07:46] rodica-andronache commented on #446
it was cache, sorry

[2020-04-22 13:27] #446 closed

[2020-04-22 13:32] #400 closed

[2020-04-22 13:33] #438 closed

[2020-04-22 13:35] #386 closed

[2020-04-22 13:37] #313 closed

[2020-05-16 15:49] oriolarcas opened #465 "Don't localize module IDs"
Hi,

I reported this 1 year ago in [WP support](https://wordpress.org/support/topic/fixed-bug-in-localized-sites/) but it didn't go through, so I'll try here.

The modules are constructed like [this](https://github.com/Codeinwp/themeisle-companion/blob/v2.9.8/obfx_modules/menu-icons/init.php#L33):

[code]

Note that the `name` is **localized**.

Then the base class enqueues JS scripts like [this](

[2020-05-22 09:06] rodica-andronache opened #469 "Better handle the Add to Cart mechanism from the Post Grid Elementor widget"
- Use the Post Grid Elementor widget to add products to a page
- When clicking the Add to Cart button, there is nothing to suggest the product was added in the cart, just the page scrolls back to the top.
- Maybe we can either have a notice saying the product was added in the cart, or open the mini cart in the header

Can be seen here https://demosites.io/jewellery-shop/

https://www.loom.com/shar

[2020-05-22 21:24] purplecodes opened #470 "Contact form: Scroll up to the notification message after form submission"
**Current Behaviour**
When using the Contact form in mobile, the notification message where it displays successful or failed appears at the top when the form is submitted.

The notification message cannot be seen after hitting the Submit button unless the user will scroll up.

A feature to add for the screen to scroll up to the notification message after clicking the Submit button would be great.

[2020-06-12 12:45] purplecodes opened #479 "Newsletter Form: Double opt in is still working even if disabled."
Using the Newsletter form widget, selecting Mailchimp as the provider.
There is an option inside Mailchimp to disable the double opt in.
The setting can be found under Audience >  View Contacts > Settings > Audience Name and Defaults
https://snipboard.io/ByiCVt.jpg

When the enable double opt in is unchecked, I still get an email (as a subscriber) to confirm the subscription.

I tested this with E

[2020-06-20 10:50] oriolarcas commented on #465
Sorry to bump this, but I'm unable to update this plugin until you fix this bug.

[2020-06-23 13:50] cristian-ungureanu commented on #465
Hi @oriolarcas. Thanks for letting us know. We apologize that this took so long to be fixed.
The fix will be in the next version so you should be able to update now without problems.

[2020-06-24 07:11] #465 closed

[2020-06-24 09:35] purplecodes opened #485 "Contact form: Checkbox request before form is submitted"
Feature request: A checkbox placed below the contact form that user agrees to the site policy and share information - in compliance to GDPR guidelines.

[2020-07-07 14:10] cristian-ungureanu commented on #479
This issue was fixed here https://github.com/Codeinwp/themeisle-content-forms/pull/51, after the merge and a new release for OBFX it should take in count the double opt-in option from MailChimp.

[2020-07-07 15:10] cristian-ungureanu commented on #485
This was added here https://github.com/Codeinwp/themeisle-content-forms/pull/51, added a new input type in the contact form.

[2020-07-09 13:56] rodica-andronache commented on #479
- [ ] hidden type input not available anymore

<img width="554" alt="Screenshot 2020-07-09 at 16 44 49" src="https://user-images.githubusercontent.com/3266155/87047822-a8266380-c203-11ea-8e20-1d7fd60949b4.png">
<img width="453" alt="Screenshot 2020-07-09 at 16 45 08" src="https://user-images.githubusercontent.com/3266155/87047831-ab215400-c203-11ea-8b89-f4b0fc556f37.png">

- [ ] I think that for c

[2020-07-09 14:19] rodica-andronache commented on #479
@cristian-ungureanu I've tested the issue with the double opt-in in Mailchimp and its working well.
These are few things I've saw related to the new checkbox type field you've added:
- [ ] the `hidden` type input is not available anymore in this PR compared to production

<img width="554" alt="Screenshot 2020-07-09 at 16 44 49" src="https://user-images.githubusercontent.com/3266155/87047822-a82663

[2020-07-10 09:04] cristian-ungureanu commented on #479
@rodica-andronache the problem was that the dev branch was behind the master. Here's the fix for MailChimp https://github.com/Codeinwp/themeisle-content-forms/pull/53.

[2020-07-13 09:50] rodica-andronache commented on #479
@cristian-ungureanu thanks. can you also please the conflicts here? https://github.com/Codeinwp/themeisle-content-forms/pull/53

[2020-07-13 10:02] cristian-ungureanu commented on #479
@rodica-andronache done

[2020-07-20 09:34] #485 closed

[2020-07-20 09:35] #479 closed

[2020-07-20 09:36] rodica-andronache commented on #427
same as here https://github.com/Codeinwp/themeisle-companion/issues/485

[2020-07-20 09:36] #427 closed

[2020-07-20 09:48] rodica-andronache opened #497 "OBFX not updating in store"
on store the latest version is `2.8.14` while on wp.org is `2.9.12`
<img width="1313" alt="Screenshot 2020-07-20 at 12 44 00" src="https://user-images.githubusercontent.com/3266155/87923827-b50a4900-ca86-11ea-96c0-484611c4f5fa.png">

[2020-07-22 14:53] rodica-andronache opened #499 "[WP 5.5] Menu Icons module doesn't work anymore"
Tested with 5.5-beta3-48556.
Clicking on the add icon button nothing happens.
![a](https://user-images.githubusercontent.com/3266155/88191558-3d821880-cc44-11ea-9f69-48359f35ffed.png)
![b](https://user-images.githubusercontent.com/3266155/88191583-42df6300-cc44-11ea-8754-4e1432ee3ecc.png)

[2020-07-22 15:06] rodica-andronache opened #500 "Recommended plugins can't be installed"
In `OrbitFox > General Settings` we have a `Recommended Plugins` tab where we list a few plugins including Optimole.
But none of the plugins can't be installed. Clicking on the `Install now` button from the popup doesn't do anything.
![c](https://user-images.githubusercontent.com/3266155/88193185-090f5c00-cc46-11ea-8c3a-0079f645b3ec.png)
![cc](https://user-images.githubusercontent.com/3266155/8819

[2020-07-23 11:43] purplecodes opened #501 "Menu icons in when used in Mega Menu creates a bigger space"
Not really a bug but when enabling the menu icons module in Orbit Fox and used it in a mega menu, the space between the icon and the menu item is quite noticeable.

Regular Menu
![2020-07-23_18h58_32](https://user-images.githubusercontent.com/32997072/88282707-a4730080-cd1c-11ea-859a-5700e4a81003.png)

Mega Menu
![2020-07-23_19h27_17](https://user-images.githubusercontent.com/32997072/88282749-b3f

[2020-07-30 10:56] stefan-cotitosu opened #505 "Customizer options not imported correctly for the second demo in a row"
When importing two starter sites, the Customizer options for the last one, aren't properly fetched.

Tickets:
https://secure.helpscout.net/conversation/1240304533/238960?folderId=212390
https://wordpress.org/support/topic/cannot-change-theme-3/

[2020-07-31 16:18] cristian-ungureanu commented on #500
@selul I can't find a solution here. I've searched a bit and it seems this happens since wp 4.6 ... I found a similar issue here https://github.com/TGMPA/TGM-Plugin-Activation/issues/649 but I have no clue why it isn't working because it's just a link. Maybe a prevent default somewhere.

[2020-08-04 13:26] #499 closed

[2020-08-06 11:55] irinelenache opened #512 "[Elementor 3.0 Beta] Orbit fox addons don't apply styling options in Editor"
When making changes to **Style** options of the **Orbit fox addons**, the changes are made only in front-end and not in the **Editor**. With the update, all the widgets inherit the `global colors of the theme`, but only Orbit fox addons have this problem.

#### How they look with Elementor 3.0:
https://www.loom.com/share/255ba8ee18f44f059b1c5fa264be38f9
https://www.loom.com/share/1cf493219b624939b

[2020-08-17 13:23] cristian-ungureanu commented on #500
@rodica-andronache the issue was fixed here https://github.com/Codeinwp/themeisle-companion/pull/520. I removed the popup as Marius suggested on slack a while ago.

[2020-08-20 07:41] rodica-andronache opened #525 "Notices when using Elementor"
Install both OBFX and Elementor, and try to edit/add a new page/post. In some cases, this notice appears.
<img width="651" alt="obfx-error" src="https://user-images.githubusercontent.com/3266155/90730942-a4d9c980-e2d1-11ea-9fe6-ce9cf5e18bcb.png">

[2020-08-20 08:20] selul commented on #525
we should review the whole codebase for `register_rest_route` and see where is correctly used or not, including vendor folder.

[2020-08-24 13:10] abaicus commented on #501
Handled in [this PR](https://github.com/Codeinwp/neve/pull/1848) with [this commit](https://github.com/Codeinwp/neve/pull/1848/commits/0836dd2f74e9e9bcaddd68105619fb089e2da55b).

[2020-09-01 13:08] cristian-ungureanu commented on #525
The issue was fixed in https://github.com/Codeinwp/themeisle-content-forms/pull/55. I also checked Obfx and all vendors and every rest route is registered correctly.

[2020-09-02 10:08] #500 closed

[2020-09-02 10:08] #525 closed

[2020-09-03 12:14] #501 closed

[2020-09-04 13:38] ineagu commented on #124
@selul this can be a good little thing to revive, pixelgrade customify plugin has a solution, astra as well, probably we can go with something simple.

Not sure if another solution won't be to simply recommend this within docs + recommended plugins list: https://wordpress.org/plugins/customizer-search/ ( if is not too intrusive).

[2020-09-10 09:32] irinelenache commented on #512
Fixed from Elementor updates

[2020-09-10 09:32] #512 closed

[2020-09-10 09:57] irinelenache opened #526 "Icons from Obfx Elementor widgets aren't visible on front-end"
When i add a obfx widget with elementor (Services or Pricing Table), the icons present in the widget aren't visible on front-end **until i change one of them.**
This happens with any theme used.
https://www.loom.com/share/437680a6340c45848681039e91119079